<div class="row" id="monitorTypeConfigPage">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#monitorType">測項參數</a>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-lg-2 control-label">選擇測站:</label>
                        <div class="col-lg-10">
                            <div class="btn-group" data-toggle="buttons">
                                <button type="button" v-for="m in monitorList" :key="m.id"
                                    class="btn btn-outline btn-primary" :class="{ active: selectedMonitor == m.id }"
                                    @click="updateSelectedMonitor(m.id)">{{ m.name
                                    }}</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 control-label">選擇環保署測站:</label>
                        <div class="col-lg-10">
                            <div class="btn-group" data-toggle="buttons">
                                <button type="button" v-for="m in epaMonitorList" :key="m.id"
                                    class="btn btn-outline btn-primary" :class="{ active: selectedMonitor == m.id }"
                                    @click="updateSelectedEpaMonitor(m.id)">{{ m.name
                                    }}</button>
                            </div>
                        </div>
                    </div>
                </form>
                <table v-if="!isEpaMonitor" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>代碼</th>
                            <th>名稱</th>
                            <th>單位</th>
                            <th>內控值</th>
                            <th>警告值(011)</th>
                            <th>法規值(016)</th>
                            <th>日標準</th>
                            <th>8小時平均值</th>
                            <th>24小時平均值</th>
                            <th>年平均值</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="mta in monitorTypeAlertInfo">
                            <td>{{ mta.monitorTypeID }}</td>
                            <td>{{ mta.name }}</td>
                            <td>{{ mta.unit }}</td>
                            <td><input class="form-control" v-model.number="mta.internal" @change="markDirty(mta)" />
                            </td>
                            <td><input class="form-control" v-model.number="mta.warn" @change="markDirty(mta)" /></td>
                            <td><input class="form-control" v-model.number="mta.std_law" @change="markDirty(mta)" />
                            </td>
                            <td><input class="form-control" v-model.number="mta.std_day" @change="markDirty(mta)" />
                            </td>
                            <td><input class="form-control" v-model.number="mta.eightHrAvg" @change="markDirty(mta)" />
                            </td>
                            <td><input class="form-control" v-model.number="mta.twentyFourHrAvg"
                                    @change="markDirty(mta)" /></td>
                            <td><input class="form-control" v-model.number="mta.yearAvg" @change="markDirty(mta)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table v-else class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th>代碼</th>
                            <th>名稱</th>
                            <th>單位</th>
                            <th>小數點</th>
                            <th>內控值</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="mta in epaMonitorTypeAlertList">
                            <th>{{ mta.monitorType }}</th>
                            <th>{{ mtMap.get(mta.monitorType).desp }}</th>
                            <td>{{ mtMap.get(mta.monitorType).unit }}</td>
                            <td>{{ mtMap.get(mta.monitorType).prec }}</td>
                            <td><input class="form-control" v-model.number="mta.internal" @change="markDirty(mta)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group">
                    <div class="col-lg-1 col-lg-offset-1">
                        <button type="button" class="btn btn-primary" @click="save">儲存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const dataTableL10N = '/assets/localization/zh_tw.json';
    var app = new Vue({
        el: '#monitorTypeConfigPage',
        data() {
            let mtMap = new Map();
            return {
                pm10threshold_: 0,
                autoAuditNormal: false,
                monitorList: [],
                epaMonitorList: [],
                selectedMonitor: '',
                monitorTypeAlertInfo: [],
                epaMonitorTypeAlertList: [],
                isEpaMonitor: false,
                mtMap
            }
        },
        computed: {
            pm10threshold: {
                get: function () {
                    if (this.pm10threshold_ == 0) {
                        axios.get("/PM10Threshold").then((resp) => {
                            const ret = resp.data
                            if (resp.status == 200) {
                                this.pm10threshold_ = ret
                            } else
                                alert(resp.statusText)
                        }).catch((err) => {
                            alert(err)
                        })
                    }
                    return this.pm10threshold_
                },
                set: function (v) {
                    this.pm10threshold_ = v
                }
            }
        },
        async mounted() {
            await this.getMonitorList();
            this.selectedMonitor = this.monitorList[0].id;
            await this.getMonitorTypeAlertInfo();
            await this.getEpaMonitorList();
            await this.getMonitorTypes()
        },
        methods: {
            markDirty(mta) {
                mta.dirty = true;
            },
            async getMonitorList() {
                try {
                    const res = await axios.get("/MonitorList")
                    if (res.status === 200) {
                        const ret = res.data;
                        this.monitorList = ret;
                        this.selectedMonitor = ret[0].id;
                    }
                } catch (err) {
                    throw new Error(err);
                }
            },
            async getEpaMonitorList() {
                try {
                    const res = await axios.get("/EpaMonitors")
                    if (res.status === 200) {
                        const ret = res.data;
                        this.epaMonitorList = ret;
                    }
                } catch (err) {
                    throw new Error(err);
                }
            },
            async updateSelectedMonitor(m) {
                this.isEpaMonitor = false;
                this.selectedMonitor = m;
                await this.getMonitorTypeAlertInfo();
            },
            async updateSelectedEpaMonitor(m) {
                this.isEpaMonitor = true;
                this.selectedMonitor = m;
                await this.getEpaMonitorTypeAlert()
            },
            async getMonitorTypes() {
                try {
                    const res = await axios.get("/MonitorTypes")
                    if (res.status === 200) {
                        const ret = res.data
                        for (let mt of ret) {
                            this.mtMap.set(mt.id, mt)
                        }
                    }
                } catch (err) {
                    throw new Error(err);
                }
            },
            getMonitorTypeName(id) {
                if (this.mtMap.has(id)) {
                    return this.mtMap.get(id).desp
                } else
                    return ""
            },
            async getMonitorTypeAlertInfo() {
                try {
                    const res = await axios.get(`/MonitorTypeAlertInfo/${this.selectedMonitor}`)
                    if (res.status == 200) {
                        this.monitorTypeAlertInfo = res.data;
                    }
                } catch (err) {
                    throw new Error(err);
                }
            },
            async getEpaMonitorTypeAlert() {
                try {
                    const res = await axios.get(`/EpaMonitorTypeAlert/${this.selectedMonitor}`)
                    if (res.status == 200) {
                        this.epaMonitorTypeAlertList = res.data;
                    }
                } catch (err) {
                    throw new Error(err);
                }
            },
            check(mta) {
                if (!mta.internal)
                    mta.internal = null

                if (!mta.warn)
                    mta.warn = null

                if (!mta.std_law)
                    mta.std_law = null

                if (!mta.std_hour)
                    mta.std_hour = null

                if (!mta.std_day)
                    mta.std_day = null

                if (!mta.eightHrAvg)
                    mta.eightHrAvg = null

                if (!mta.twentyFourHrAvg)
                    mta.twentyFourHrAvg = null

                if (!mta.yearAvg)
                    mta.yearAvg = null
            },
            checkEpa(mta) {
                if (!mta.internal)
                    mta.internal = null
            },
            async save() {
                try {
                    let all = [];
                    if (!this.isEpaMonitor) {
                        for (let mta of this.monitorTypeAlertInfo) {
                            if (mta.dirty) {
                                this.check(mta);
                                const p = axios.post(`/MonitorTypeAlertInfo`, mta)
                                all.push(p)
                            }
                        }
                    } else {
                        for (let mta of this.epaMonitorTypeAlertList) {
                            if (mta.dirty) {
                                this.checkEpa(mta);
                                const p = axios.post(`/EpaMonitorTypeAlert`, mta)
                                all.push(p)
                            }
                        }
                    }

                    const ret = await Promise.all(all)
                    alert("成功")
                } catch (err) {
                    throw new Error(err);
                }
            }
        }
    });

</script>