@* historyReport Template File *@
@import com.github.nscala_time.time.Imports._
@import MonitorStatus._
@(editable:Boolean, monitors:Seq[Monitor.Value], monitorType:MonitorType.Value, start:DateTime, end:DateTime, timeSeq:Seq[DateTime], recordMap: Map[Monitor.Value, Map[DateTime, (Option[Float], Option[String])]])

<H3>測項:@MonitorType.map(monitorType).desp (@MonitorType.map(monitorType).unit)</H3>
<H5>區間:@start.toString("YYYY-MM-dd")~@end.toString("YYYY-MM-dd")</H5>

<div class="col-lg-offset-6 col-lg-6">
<table class="table">
<tbody>
<tr>
	<td class="col-lg-1" style="color:black;background-color:@CalibrationColor">校正</td>
	<td class="col-lg-1" style="color:black;background-color:@RepairColor">維修</td>
	<td class="col-lg-1" style="color:black;background-color:@MaintanceColor">定保</td>
	<td class="col-lg-1" style="color:black;background-color:@AbnormalColor">異常</td>
	<td class="col-lg-1" style="color:black;background-color:@AutoAuditColor">自動檢核</td>
	<td class="col-lg-1" style="color:black;background-color:@ManualAuditColor">人工註記</td>
</tr>
</tbody>
</table>
</div>

<table id="historyReport" class="table">
<thead>
	<tr>
		<th>時間</th>
		@for(m<-monitors){
			<th>@Monitor.map(m).name</th>
			<th>註記說明</th>	
		}
		
	</tr>
</thead>
<tbody>
	@for(t <- timeSeq){
		<tr>
			<th>@t.toString("YYYY-MM-dd HH:mm")</th>	
			
			@for(m<-monitors){
				@if(recordMap(m).get(t).isEmpty||recordMap(m)(t)._1.isEmpty||recordMap(m)(t)._2.isEmpty){
					<td>-</td>
				}else{
					@if(MonitorStatus.isNormalStat(MonitorStatus.getTagInfo(recordMap(m)(t)._2.get).toString)){
						<td>@("%.2f".format(recordMap(m)(t)._1.get))
						@if(editable){
							<input type="checkbox" id="@m:@monitorType:@t.getMillis">
						}
						</td>
					}else{
						<td style="@MonitorType.getStyleStr(m, monitorType, recordMap(m)(t))">@MonitorType.format(monitorType, recordMap(m)(t)._1)</td>
					}
				}
				@if(recordMap(m)(t)._2.isEmpty){
					<td>-</td>
				}else{
					<td>@MonitorStatus.getExplainStr(recordMap(m)(t)._2.get)</td>
				}								
			}
		</tr>
	}
</tbody>
</table>
@if(editable){
<label>註記代碼</label>	
<select id="manualStatusSelect">
	@for(ms<-MonitorStatus.manualMonitorStatusList){
		<option value='@ms'>@MonitorStatus.map(ms).desp</option>
	}
</select>
<button type="button" class="btn btn-primary" id="manualAuditApply">註記</button>
	
}
<script>
	var l10n_url = '@routes.Assets.at("localization/zh_tw.json")';
	var editable = @editable;
</script>
<script>
$(document ).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
	$('#historyReport').dataTable( {
		responsive: true,
		"dom": 'T&lt'+'clear'+'&gtlfrtip',
		language: {
			url: l10n_url,							
		},
		"paging":   false,
		searching: false
	} );
	
	if(editable){
		$('#manualAuditApply').click(function(){
			var $inputs=$("#historyReport :input:checked");
			var $manualStatus = $('#manualStatusSelection :checked');
			console.log($manualStatus);
			var obj={};			
			var manualAuditList=[];
			for(var i=0;i<$inputs.length;i++){
				$check = $inputs.eq(i);
				var audit={};
				var id = $check.prop('id');
				var param = id.split(":");
				audit.monitor=param[0];
				audit.monitorType=param[1];
				audit.time=parseInt(param[2]);
				audit.status='M01';
				manualAuditList.push(audit);
			}
			obj.list=manualAuditList;
			$.ajax({
				url: "/ManualAudit",
				data: JSON.stringify(obj),
				contentType: "application/json; charset=utf-8",
				method:"POST",			
				dataType: "json",
				success: function(result){
					if(result.ok){
						alert("成功");
					}else{
						alert("失敗:"+result.msg);
					}
				},
				error: function(xhr, status, errorThrown){
					alert("失敗:" + status + "-" + errorThrown);
				},

				complete: function(xhr, status){
				}					
			});
			
		});
	}	
});
</script>