@* ticketReport Template File *@
@import Alarm._
@(tickets: List[(Ticket, RepairFormData)], userMap:Map[Int, User])
<table id="ticketReport" class="table">
<thead>
	<tr>
		<th>編號</th>
		<th>警報時間</th>
		<th>警報項目</th>
		<th>測站</th>
		<th>測項</th>		
		<th>立案時間</th>
		<th>立案人</th>
		<th>原因</th>		
		<th>負責人</th>
		<th>完成時間</th>
		<th>下載表單</th>
	</tr>
</thead>
<tbody>
@for((t, form) <- tickets){
	<tr>
		<td><a href="#" onClick="loadPage('/Ticket/'+'@t.id','維修保養','案件細節')">@t.id</a></td>
		@if(form.alarm.isDefined){
			<td>@form.alarm.get.time.toString("YYYY/MM/dd HH:mm")</td>
			<td>@MonitorStatus.map(form.alarm.get.code).desp</td>
		}else{
			<td>-</td>
			<td>-</td>			
		}
		<td>@Monitor.map(t.monitor).name</td>
		@if(t.monitorType.isEmpty){
			<td>-</td>
		}else{
			<td>@MonitorType.map(t.monitorType.get).desp</td>
		}		
		<td>@t.submit_date.toString("YYYY-MM-d HH:mm")</td>
		<td>@userMap(t.submiter_id).name</td>
		<td>@t.reason</td>
		<td>@userMap(t.owner_id).name</td>
		<td>@form.end</td>
		<td><a href="/DownloadForm/@t.id"><i class="fa fa-file-excel-o fa-2x"></i></td>
	</tr>
}
</tbody>
</table>
<script>
$(document ).ready(function() {
	$('#ticketReport').dataTable( {
		responsive: true,
		language: {
			url: '@routes.Assets.at("localization/zh_tw.json")',							
		},
		paging: false,
		searching: false,
		"order": [[ 0, 'desc' ]]
	} );
});
</script>
