@* closeTickets Template File *@
@(tickets: List[Ticket], userMap:Map[Int, User])

<div class="row">
   	<div class="col-lg-12">
   		<div class="panel panel-success">
        	<div class="panel-body">
 				@ticketReport(tickets, userMap, true)
 				<div class="alert alert-info">
 					<p>結束案件: 使用者可以結束自己建立的案件</p> 
 					<p>駁回案件: 將案件發還給負責人處理</p>
 				</div>
            	<div class="col-lg-1 col-lg-offset-1">
					<button type="button" class="btn btn-primary" id="closeTicket">結束案件</button>							
				</div>
				<div class="col-lg-1 col-lg-offset-1">
					<button type="button" class="btn btn-primary" id="resumeTicket">駁回案件</button>							
				</div>
				<label class="col-lg-1 control-label">駁回理由</label>	
	    		<textarea id="rejectReason" class="col-lg-2" row=3></textarea>	
	        </div>
		</div>				            	
            </div>
        </div>
	</div>
</div>
<script>
$(document ).ready(function() {
	function handler(url_head, attachReason){
		return function(){
			var $ids = $("#ticketReport :checked");
			if($ids.length ==0){
				alert("請勾選案件");
				return;
			}
			
			var ticketId = [];
			for(var i=0;i<$ids.length;i++){
				var $check = $ids.eq(i);
				ticketId.push(parseInt($check.val()));
			}

			var url = url_head + ticketId.join(":"); 

			if(attachReason){
				var rejectReason = $('#rejectReason').val();
				if(rejectReason.length == 0){
					alert('請填寫駁回理由!');
					return;
				}
				url += "/" + rejectReason;				
			}
			
			$.ajax({
				url : url,
				data : JSON.stringify(ticketId),
				contentType : "application/json; charset=utf-8",
				type : "POST",
				dataType : "json",
				success : function(result) {
					if(result.ok){
						alert("成功更新");
						loadPage('/CloseTicket','維修保養','簽結案件');
					}				
				},
				error : function(xhr, status, errorThrown) {
					console.log("錯誤訊息:" + status + "-" + errorThrown);
				},

				complete : function(xhr, status) {
					$("body").css("cursor", "default");
				}
			});
		};
	}
	
	$("#closeTicket").click(handler("/CloseTicket/", false));
	$("#resumeTicket").click(handler("/ResumeTicket/", true));
});
</script>