@* dailyReport Template File *@
@import com.github.nscala_time.time.Imports._
@import HourRecord._
@(monitor: Monitor.Value, reportDate:DateTime, report:DailyReport)
<div>
<a href="/PDF/monitorReport/DailyReport/@(monitor)/@reportDate.toString("yyyy-MM-dd")" class="btn btn-lg btn-success" style="display:none" id="downloadPDF"><span class="fa fa-file-pdf-o"></span>下載PDF</a>
</div>

<b>
<h3>監測日報表</h3>
<h4>監測站:@Monitor.map(monitor).name</h4>
<h4>日期:@reportDate.toString("yyyy年MM月dd日")</h4>
</b>
<table id="reportTable" class="table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>小時</th>
			@for(t<-report.typeList){
				<td>@MonitorType.map(t.monitorType).desp</td>
			}
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>平均</td>
			@for(t<-report.typeList){
				@if(t.stat.count==0){
					<td>-</td>
				}else{
				<td>@("%.1f".format(t.stat.avg))</td>
				}
			}
		</tr>
		<tr>
			<td>最大</td>
			@for(t<-report.typeList){
				@if(t.stat.count==0){
					<td>-</td>
				}else{
				<td>@("%.1f".format(t.stat.max))</td>
				}
			}
		</tr>
		<tr>
			<td>最小</td>
			@for(t<-report.typeList){
				@if(t.stat.count==0){
					<td>-</td>
				}else{
				<td>@("%.1f".format(t.stat.min))</td>
				}
			}
		</tr>
		<tr>
			<td>有效率(%)</td>
			@for(t<-report.typeList){
				<td>@("%.1f".format(t.stat.count.toFloat/t.stat.total*100))</td>
			}
		</tr>
	</tfoot>
	<tbody>
		@for(i<-0 to 23){
			<tr>
			<th>@("%02d:00".format(i))</th>
			@for(t<-report.typeList){
				<td>@if(!t.dataList(i)._2.isEmpty && !t.dataList(i)._3.isEmpty){
						@if(isValidStat(t.dataList(i)._3.get)){
							@("%.1f".format(t.dataList(i)._2.get))	
						}else{
							<del>@("%.1f".format(t.dataList(i)._2.get))</del>
						}
						
					}else{
						-
					}
				</td>	
			}
			</tr>
		}
	</tbody>
</table>            		
 
