@* h37Report Template File *@
@import com.github.nscala_time.time.Imports._
@import InstrumentThreshold._
@(monitor:Monitor.Value, start:DateTime, end:DateTime, rsList: List[H370Record])
<H3>測站:@Monitor.map(monitor).name</H3>
<H5>儀器:H370</H5>
<H5>開始:@start.toString("YYYY-MM-dd")</H5>
<H5>結束:@end.toString("YYYY-MM-dd")</H5>
<span style="color:red">超過內控值</span>
<table id="reportTable" class="table">
<thead>
	<tr>		
		<th>時間</th>
		<th>THC_Signal (PPM)</th>
      	<th>CH4_Signal (PPM)</th>
      	<th>Zero_Compension</th>
      	<th>PurifierTemp (C)</th>
	    <th>NMHCOutTemp (C)</th>
	    <th>+5V</th>
	    <th>+24V</th>
  		<th>SampleFlow (m/s)</th>
      	<th>OverFlow (m/s)</th>
      	<th>PumpPress (mBar)</th>
      	<th>PurifierPress (mBar)</th>
      	<th>AtmosPress (mBar)</th>
	</tr>
</thead>
<tbody>
	@for(rs<-rsList){
		<tr>
			<td>@rs.time.toString("YYYY-MM-dd HH:mm")</td>
			<td style="@getStyle(H370_THC_Signal, rs.thc_signal)">@rs.thc_signal</td>
			<td style="@getStyle(H370_CH4_Signal, rs.ch4_signal)">@rs.ch4_signal</td>
			<td style="@getStyle(H370_Zero_Compension, rs.zero_compression)">@rs.zero_compression</td>
			<td style="@getStyle(H370_PurifierTemp, rs.purifierTemp)">@rs.purifierTemp</td>
			<td style="@getStyle(H370_NMHCOutTemp, rs.NMHCCOutTemp)">@rs.NMHCCOutTemp</td>
			<td style="@getStyle(H370_5V, rs.v5)">@rs.v5</td>
			<td style="@getStyle(H370_24V, rs.v24)">@rs.v24</td>
			<td style="@getStyle(H370_SampleFlow, rs.sampleFlow)">@rs.sampleFlow</td>
			<td style="@getStyle(H370_OverFlow, rs.overFlow)">@rs.overFlow</td>
			<td style="@getStyle(H370_PumpPress, rs.pumpPress)">@rs.pumpPress</td>
			<td style="@getStyle(H370_PurifierPress, rs.purifierPress)">@rs.purifierPress</td>
			<td style="@getStyle(H370_AtmosPress, rs.ch4_signal)">@rs.atmosPress</td>
		</tr>
	}
</tbody>
</table>
<script>
$(document ).ready(function() {
});
</script>