@* historyReport Template File *@
@import com.github.nscala_time.time.Imports._
@import MonitorStatus._
@(monitors:Seq[Monitor.Value], monitorType:MonitorType.Value, start:DateTime, end:DateTime, timeSeq:Seq[DateTime], recordMap: Map[Monitor.Value, Map[DateTime, (Option[Float], Option[String])]])

<H3>測項:@MonitorType.map(monitorType).desp (@MonitorType.map(monitorType).unit)</H3>
<H5>開始:@start.toString("YYYY-MM-dd")</H5>
<H5>結束:@end.toString("YYYY-MM-dd")</H5>
<table id="historyReport" class="table">
<thead>
	<tr>
		<th>時間</th>
		@for(m<-monitors){
			<th>@Monitor.map(m).name</th>	
		}
		
	</tr>
</thead>
<tbody>
	@for(t <- timeSeq){
		<tr>
			<th>@t.toString("YYYY-MM-dd hh:mm")</th>
			@for(m<-monitors){
				@if(recordMap(m).get(t).isEmpty||recordMap(m)(t)._1.isEmpty||recordMap(m)(t)._2.isEmpty){
					<td>-</td>
				}else{
					@if(MonitorStatus.isNormalStat(getValidId(recordMap(m)(t)._2.get))){
						<td>@("%.2f".format(recordMap(m)(t)._1.get))</td>
					}else{
						<td style="background-color:yellow">@("%.2f".format(recordMap(m)(t)._1.get))</td>
					}
				}				
			}
		</tr>
	}
</tbody>
</table>
<script>
$( document ).ready(function() {
	$('#historyReport').dataTable( {
		responsive: true,
		"dom": 'T<"clear">lfrtip',
		language: {
			url: '@routes.Assets.at("localization/zh_tw.json")',							
		},
		"tableTools": {
        	"sSwfPath": "@routes.Assets.at("js/plugins/dataTables/swf/copy_csv_xls_pdf.swf")"
        },
		"paging":   false
	} );
});
</script>