@* calibration Template File *@
@(requestUrl:String, privilege: Privilege)
<div class="row">
   	<div class="col-lg-12">
    	<div class="panel-group" id="accordion">
        	<div class="panel panel-primary" id="paramPanel">
            	<div class="panel-heading panel-title" >
            		<a data-toggle="collapse" data-parent="#accordion" href="#reportParam">報表參數</a>	
                </div>
            	<div class="panel-body panel-collapse in" id="reportParam">
            		<h5>測站</h5>
            		<button id="select-all-monitors" class="btn btn-info">全選</button>
            		<div class="btn-group" data-toggle="buttons">
            			@for(m<-privilege.allowedMonitors){
            				<label class="btn btn-outline btn-primary dim">
								<input type="checkbox" name="monitor" id="@m">@Monitor.getDisplayName(m)</label>		
            			}
            		</div>
            		<br/>
            		<h5>測項</h5>
            		<div class="btn-group" data-toggle="buttons">
            			@for(mt<-privilege.allowedMonitorTypes){
            				<label class="btn btn-outline btn-primary dim">
								<input type="radio" name="monitorType" id="@mt">@MonitorType.map(mt).desp</label>		
            			}
            		</div>
            		<br/>
            		<h5>資料來源</h5>
            		<div class="btn-group" data-toggle="buttons">
            			@for(rt<-RecordType.values){
            				<label class="btn btn-outline btn-primary dim">
								<input type="radio" name="recordType" id="@rt">@RecordType.map(rt)</label>		
            			}
            		</div>
            		<br/>
 					<h5>查詢區間</h5>
 					<div class="input-daterange input-group" id="datepicker">
                    	<span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="input-sm form-control" name="start" id="reportStart" required/>
                       	<span class="input-group-addon">至</span>
                        <input type="text" class="input-sm form-control" name="end" id="reportEnd" required/>                        
                    </div>
					<br/>
					<div>
						<button type="button" class="btn btn-primary" id="queryReport">查詢</button>
					</div>
            	</div>
        	</div>
        	<div class="panel panel-success" style="display:none" id="reportPanel">
            	<div class="panel-heading panel-title"" >
            		<a data-toggle="collapse" data-parent="#accordion" href="#monitorReport">報表</a>	
                </div>
            	<div class="panel-body panel-collapse" id="monitorReport">
            		<div align="left">
            			<label class="btn btn-outline" data-toggle="tooltip" data-placement="bottom" title="PDF"><a href="#" id="downloadPDF"><i class="fa fa-file-pdf-o fa-2x"></i></a></label>
            			<label class="btn btn-outline" data-toggle="tooltip" data-placement="bottom" title="Excel"><a href="#" id="downloadExcel"><i class="fa fa-file-excel-o fa-2x"></i></a></label>            			
                	</div>
 
					<div id="reportDiv" align="center" style="overflow-x:auto">
            		</div>
            	</div>
        	</div> <!-- end of panel group -->
    	</div>
	</div>
</div>
<script>
	var url_head = "@requestUrl"; 
</script>
<script>
$( document ).ready(function() {
	$('#select-all-monitors').click(function(){
		$('.btn-group input[name="monitor"]').each(function(){
	            // toggle checkbox
	            $(this).prop('checked',!$(this).prop('checked'));
	            // toggle class
	            $(this).parents('label').toggleClass('active');
	        });
	});

	$('#reportStart').datetimepicker({
		format: 'YYYY-MM-D HH:mm',
    	locale: "zh-TW"
	});
	$('#reportEnd').datetimepicker({
		format: 'YYYY-MM-D HH:mm',
    	locale: "zh-TW"
	});
    $("#reportStart").on("dp.change", function (e) {
        $('#reportEnd').data("DateTimePicker").minDate(e.date);
    });
    
    $("#reportEnd").on("dp.change", function (e) {
        $('#reportStart').data("DateTimePicker").maxDate(e.date);
    });
	
	var monitors, monitorType, recordType, reportStart, reportEnd;

	function validate(){
		monitors = $("input[name='monitor']:checked");

		if (monitors.length == 0) {
			alert("請選擇測站");
			return false;
		}


		monitorType = $("input[name='monitorType']:checked").attr('id');
		if(!monitorType) {
			alert('請選擇測項');
			return false;
		}

		recordType = $("input[name='recordType']:checked").attr('id');
		if(!recordType) {
			alert("請選擇資料來源");
			return false;
		}
		
		reportStart = $('#reportStart').val();
		if(reportStart.length === 0){
			alert('請選擇開始日期');
			return false;
		}
		
		reportEnd = $('#reportEnd').val();
		if(reportStart.length === 0){
			alert('請選擇結束日期');
			return false;
		}

		if(recordType == "min"){
			var start = new Date(reportStart);
			var end = new Date(reportEnd);
			var diff = end.getTime()-start.getTime();
			if(diff > 1 * 24*60*60*1000){
				alert("分鐘查詢區間必須小於1天");
				return false;
			}
		}
		
		return true;
	}

	$('#queryReport').click(function(){
		if(!validate())
			return;

		$("#reportPanel").css('display','block');
		$("#reportParam").collapse();
		$("#reportPanel").collapse('show');

		$('#reportDiv').html('');
		$("body").css("cursor", "progress");

		var monitorParam='';
		for (var i = 0; i < monitors.length; i++) {
			if(monitorParam=='')
				monitorParam = monitors[i].id;
			else
				monitorParam += ':' + monitors[i].id;
		}

		console.log("recordType=" + recordType);
		
		var url = url_head + monitorParam + "/" + monitorType + "/" + recordType + "/" +reportStart + "/" + reportEnd;

		console.log(url);
		
		$.ajax({
			url: url,
			data: '',
			contentType: "application/json; charset=utf-8",
			method:"GET",			
			dataType: "html",
			success: function(result){
				$('#reportDiv').html(result);
				$("#downloadPDF").prop("href", "/PDF" + url);
			},
			error: function(xhr, status, errorThrown){
				console.log("錯誤訊息:" + status + "-" + errorThrown);
			},

			complete: function(xhr, status){
				$("body").css("cursor", "default");
			}					
		});
	});
});
</script>