@(title: String)

@outline(title){
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">即時資料</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
        	<div class="panel panel-info">
            	<div class="panel-heading">
                	PM2.5 即時資料
                </div>
                <div class="panel-body">
                	<div id="morris-bar-chart"></div>
                </div>
            </div>
        </div>
		<div class="col-lg-4">
			<div class="panel panel-info">
            	<div class="panel-heading">
                	PM10 即時資料
                </div>
                <div class="panel-body">
                	<div id="morris-bar-chart1"></div>
                </div>
            </div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-info">
            	<div class="panel-heading">
                	二氧化硫 即時資料
                </div>
                <div class="panel-body">
                	<div id="morris-bar-chart2"></div>
                </div>
            </div>			
		</div>
		<div class="col-lg-4">
			<div class="panel panel-info">
            	<div class="panel-heading">
                	一氧化氮 即時資料
                </div>
                <div class="panel-body">
                	<div id="morris-bar-chart3"></div>
                </div>
            </div>
		</div>
	</div>
}
