@* maintanceSchedule Template File *@
@import Maintance._
@(entries: List[MaintanceWeekEntry])
<div class="row">
   	<div class="col-lg-12">
        <div class="panel panel-success">
        	<div class="panel-body panel-collapse">
<p>以今天為基準, 顯示前四周和後四周的定保排班表. 紅色表示已經執行但尚未結案</p>
<table class="table table-bordered">
<thead>
	<tr>
		<th>周</th>
		@for(m<-Monitor.mvList){
			<th>@Monitor.map(m).name</th>
		}
	</tr>
</thead>
<tbody>
	@for(entry<-entries){
		<tr @if(entry.offset == 0){
				class="info"
			}
			>
			<td>@entry.start.toString("MM/dd")<br/>
				@entry.end.toString("MM/dd")
			</td>
			@for(m<-Monitor.mvList){
				<td>@Html(getMaintanceStr(entry.map(m)))</td>
			}
		</tr>
	}
</tbody>
</table>
</div>
</div>
</div>
</div>