@* manual audit Template File *@
@(privilege: Privilege)
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">人工資料註記</div>
<div class="ibox-content">
<ul class="nav nav-tabs">
	<li class="active">
		<a data-toggle="tab" href="#manualAudit"> <span class="glyphicons glyphicons-hotspot"></span>資料查詢註記</a>
	</li>
	<li >
		<a data-toggle="tab" href="#manualStatus"> <span class="glyphicons glyphicons-hotspot"></span>註記代碼</a>
	</li>
	
</ul>
<div class="tab-content ibox-content">
	<div id="manualAudit" class="tab-pane active" align="left">
		@history("/HistoryQueryReport/true/", privilege)
	</div>
	<div id="manualStatus" class="tab-pane" align="left">
		<table id="manualStatusTab" class="table">
			<thead>
				<tr>
					<th>代碼</th>
					<th>說明</th>
				</tr>
			</thead>
			<tbody>
			@for(ms<-MonitorStatus.manualMonitorStatusList){
				<tr>
					<td>@ms</td>
					<td>@MonitorStatus.map(ms).desp</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>
</div>
</div>
</div>
</div>
<script>
$( document ).ready(function() {
	
});
</script>