@* monitorManagement Template File *@
@(monitor: Monitor.Value)
<div class="row">
    <div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<label class="control-label">選擇測站:</label>				
					<div class="btn-group" data-toggle="buttons">
        				@for(m<-Monitor.mvList){
        					@if(m == monitor){
        						<label class="btn btn-outline btn-primary dim active">
        						<input type="radio" name="monitor" id="@m" checked>@Monitor.getDisplayName(m)</label>	
        					}else{
        						<label class="btn btn-outline btn-primary dim">
        						<input type="radio" name="monitor" id="@m" >@Monitor.getDisplayName(m)</label>	
        					}			
            			}
					</div>
			</div>
			<div class="ibox-content">
			<ul class="nav nav-tabs">
				<li class="active">
					<a data-toggle="tab" href="#monitorTypeTab"> <span class="glyphicons glyphicons-hotspot"></span>監測項目</a>
				</li>
				<li>
					<a data-toggle="tab" href="#stdInternalTab"> <span class="glyphicons glyphicons-hotspot"></span>內控值</a>
				</li>					
				<li>
					<a data-toggle="tab" href="#imgUrlTab"> <span class="glyphicons glyphicons-hotspot"></span>影像位址</a>
				</li>
			</ul>
			<div class="tab-content">
				<div id="monitorTypeTab" class="tab-pane active">	
					<br/>				
					<form id="monitorTypesForm" class="form-horizontal">
						<input name='monitor' type="hidden" class="form-control" value="@monitor">
						<div class="form-group">
							<label class="col-lg-1 control-label">測項</label>
							<div class="col-lg-11">
								<div id="mTypes" class="btn-group" data-toggle="buttons">
            					@for(mt<-MonitorType.mtvAllList){
            						<label class="btn btn-outline btn-primary dim">
									<input type="checkbox" name="monitorType" id="@mt">@MonitorType.map(mt).desp</label>		
            					}
            					</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-1 col-lg-offset-1">
								<button class="btn btn-primary" type="submit">確認</button>
							</div>							
						</div>
 					</form>					
				</div>
				<div id="stdInternalTab" class="tab-pane">
					<br/>
					<form id="stdInternalForm" class="form-horizontal">
						<input name='monitor' type="hidden" class="form-control" value="@monitor">
						<div class="form-group">
							<label class="col-lg-1 control-label">測項</label>
							<div class="col-lg-11">
								<div class="btn-group" data-toggle="buttons">
            					@for(mt<-MonitorType.mtvAllList){
            						@if(mt == MonitorType.mtvAllList.head){
            							<label class="btn btn-outline btn-primary dim active">
										<input type="radio" name="monitorType" id="@mt" checked>@MonitorType.map(mt).desp</label>	
            						}else{
            							<label class="btn btn-outline btn-primary dim">
										<input type="radio" name="monitorType" id="@mt">@MonitorType.map(mt).desp</label>
            						}
            								
            					}
            					</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-1 control-label">內控值</label>
							<input class="col-lg-1" id="stdInternal">
							<label class="col-lg-1">單位</label>														
						</div>
						<div class="form-group">
							<div class="col-lg-1 col-lg-offset-1">
								<button class="btn btn-primary" type="submit">確認</button>								
							</div>
							<div class="col-lg-1">
								<button class="btn btn-primary" type="reset">恢復預設</button>
							</div>																					
						</div>
 					</form>
				</div>
				<div id="imgUrlTab" class="tab-pane">
					<form id="imgUrlForm" class="form-horizontal">
						<br/>
						<input name='monitor' type="hidden" class="form-control" value="@monitor">
						<div class="form-group">
							<label class="col-lg-1 control-label">影像位址</label>
							<input class="col-lg-5" id="imgUrl">																				
						</div>
						<div class="form-group">
							<div class="col-lg-1 col-lg-offset-1">
								<button class="btn btn-primary" type="submit">確認</button>								
							</div>													
						</div>
					</form>
				</div>
			</div>
			</div>
        </div>    
	</div>
</div>
<script>
$(document).ready(function() {
	var activeMonitor=$('#monitorTypesForm :input[name="monitor"]').val();
	var monitorInfo={};
	function updateUI(monitor){
		var mInfo = monitorInfo[monitor];
		var mTypes = mInfo.mt;
		var $TypeLabels = $('#mTypes').children();
		for(var i=0;i<$TypeLabels.length;i++){
			var $label = $TypeLabels.eq(i);
			var $checkbox = $label.children();
			if(mTypes.indexOf($checkbox.prop('id')) == -1){
				$checkbox.prop('checked', false);
				$label.removeClass('active');
			}else{
				$checkbox.prop('checked', true);
				$label.addClass('active');
			}
		}

		$("#imgUrl").val(mInfo.imgUrl);		
	}
	
	function refreshMonitorInfo(monitor){
		monitorInfo[monitor]={};
		$.ajax({
			url: "/MonitorInfo/"+ monitor,
			data: "",
			contentType: "application/json; charset=utf-8",
			method: "GET",
			dataType: "json",
			success: function(info){
				console.log(info);
				monitorInfo[monitor]=info;
				updateUI(monitor);				
			},
			error: function(xhr, status, errorThrown){
				alert("失敗:"+ errorThrown);
			},
			complete: function(xhr, status){
			}					
		});						
	}

	refreshMonitorInfo(activeMonitor);
	
	$("input[name='monitor']").change(function(){
		var me = $(this)
		refreshMonitorInfo(me.attr('id'));		
		activeMonitor = me.attr('id');
		$('#monitorTypesForm :input[name="monitor"]').val(activeMonitor);	
	});

	$('#monitorTypesForm').submit(function(event) {
		activeMonitor = $('#monitorTypesForm :input[name="monitor"]').val();
				
		var $monitorTypes = $("#monitorTypesForm :input[name='monitorType']:checked");
		var mt=[];
		for(var i=0;i<$monitorTypes.length;i++){
			mt.push($monitorTypes[i].id);
		}
		
	    $.ajax({
			url: "/MonitorTypes/"+activeMonitor,
			data: JSON.stringify(mt),
			contentType: "application/json; charset=utf-8",
			method: "POST",
			dataType: "json",
			success: function(result){
				alert("成功");
			},
			error: function(xhr, status, errorThrown){
				alert("失敗:"+ errorThrown);
			},

			complete: function(xhr, status){
			}					
		});
		event.preventDefault();
	});

	$("#stdInternalForm").submit(function(event){
		
		event.preventDefault();
	});

	$("#imgUrlForm").submit(function(event){
		var imgUrl = $("#imgUrl").val();
	    $.ajax({
			url: "/MonitorImgUrl/"+activeMonitor,
			data: JSON.stringify(imgUrl),
			contentType: "application/json; charset=utf-8",
			method: "POST",
			dataType: "json",
			success: function(result){
				alert("成功");
			},
			error: function(xhr, status, errorThrown){
				alert("失敗:"+ errorThrown);
			},

			complete: function(xhr, status){
			}					
		});
		
	});

	
});
</script>