@* monitorTypeConfig Template File *@
@import MonitorType._
@()
<div class="row" id="monitorTypeConfigPage">
    <div class="col-lg-12">
    	<div class="panel panel-primary">
    		<div class="panel-heading panel-title" >
        		<a data-toggle="collapse" data-parent="#accordion">自動註記是否視為正常數據</a>	
        	</div>
        	<div class="panel-body panel-collapse">
        		<form id="autoAuditNormalForm" class="form-horizontal">
						<br/>
						<div class="form-group">
							<label class="col-lg-1 control-label">正常數據:</label>
							<div class="col-lg-1">
                				<input id="autoAuditNormal" name='autoAuditNormal' type="checkbox" class="form-control" 
								v-model="autoAuditNormal" @@click="setAutoAudit" />
                			</div>																										
						</div>						
				</form>        		
        	</div>
    	</div>
    	<div class="panel panel-primary" id="pm10OverInvalidForm" v-on:submit.prevent="setThreshold">
    		<div class="panel-heading panel-title" >
        		<a data-toggle="collapse" data-parent="#accordion">PM10超過臨界視為無效數據</a>	
        	</div>
        	<div class="panel-body panel-collapse">
        		<form class="form-horizontal">
						<br/>
						<div class="form-group">
							<label class="col-lg-1 control-label">臨界值:</label>
							<div class="col-lg-1">
								<input type="number" v-model="pm10threshold">
                			</div>																										
						</div>
						<div class="form-group">
							<div class="col-lg-offset-1">
								<button class="btn btn-primary">設定</button>
							</div>							
						</div>						
				</form>        		
        	</div>
    	</div>
        <div class="panel panel-primary">
        <div class="panel-heading panel-title" >
        	<a data-toggle="collapse" data-parent="#accordion" href="#monitorType">測項參數</a>	
        </div>
        <div class="panel-body panel-collapse" id="monitorType">
			<div class="col-lg-12">
				<label class="control-label">選擇測站:</label>				
					<div class="btn-group" data-toggle="buttons">
						<button type="button" v-for="m in monitorList" :key="m.id" 
							class="btn btn-outline btn-primary" 						
							:class="{ active: selectedMonitor == m.id }" @@click="selectedMonitor=m.id">{{ m.name }}</button>						
					</div>
			</div>			    		
			<div id="monitorTypeDiv" align="center">				
            	<table id="monitorTypeTable" class="table" cellspacing="0" width="100%">
            		<thead>
            			<tr>
            				<th>測項代碼</th>
            				<th>名稱</th>
            				<th>單位</th>
            				<th>預設內控值</th>
            				<th>法規值</th>
            				<th>小時標準</th>
            				<th>日標準</th>
            				<th>小數點位數</th>
            			</tr>
            		</thead>
            		<tbody>
            			@for(mt<-MonitorType.mtvAllList){
            				<tr id="@map(mt).id">
            					<th>@map(mt).id</th>
            					<td col="desp">@map(mt).desp</td>
            					<td col="unit">@map(mt).unit</td>
            					@if(map(mt).std_internal_default.isEmpty){
            						<td col="std_internal">-</td>
            					}else{
            						<td col="std_internal">@map(mt).std_internal_default</td>
            					}
            					
            					@if(map(mt).std_law.isEmpty){
            						<td col="std_law">-</td>
            					}else{
            						<td col="std_law">@map(mt).std_law</td>
            					}
            					
            					@if(map(mt).std_hour.isEmpty){
            						<td col="std_hour">-</td>
            					}else{
            						<td col="std_hour">@map(mt).std_hour</td>
            					}
            					
            					@if(map(mt).std_day.isEmpty){
            						<td col="std_day">-</td>
            					}else{
            						<td col="std_day">@map(mt).std_day</td>
            					}
            					
            					<td col="precision">@map(mt).prec</td> 
            				</tr>
            			}
            		</tbody>
            	</table>
            </div>
       </div>
       </div>
	</div>
</div>
<script>
const dataTableL10N = '/assets/localization/zh_tw.json';
var app = new Vue({
	  el: '#monitorTypeConfigPage',
	  data: {
		  pm10threshold_:0,
		  autoAuditNormal:false,
		  monitorList: [],
		  selectedMonitor: ''
	  },
	  watch:{
		selectedMonitor(){
			console.log(this.selectedMonitor);
		}
	  },
	  computed:{
		  pm10threshold:{
			  get:function(){
				  if(this.pm10threshold_ == 0){
					  axios.get("/PM10Threshold").then((resp)=>{
						  const ret = resp.data
						  if(resp.status == 200){
							  this.pm10threshold_ = ret 							  
						  }else
							  alert(resp.statusText)
					  }).catch((err)=>{
						  alert(err)
					  })
				  }
				  return this.pm10threshold_				  
			  },
			  set:function(v){
				  this.pm10threshold_ = v
			  }
		  }
	  },
	  async mounted(){
		await this.getAutoAudit();
		await this.getMonitorList();
		var oTable = $('#monitorTypeTable').dataTable({
        	language: {
				url: dataTableL10N,							
			},
        	searching: false,
        	ordering:  false,
			paging: false
        });
	  },
	  methods:{
		  setThreshold(){
			  axios.put("/PM10Threshold", {v:this.pm10threshold_}).then((resp)=>{
				  const ret = resp.data
				  if(ret.ok)
					  alert("成功")
				  else
					  alert("失敗:" + ret.msg)
			  }).catch((err)=>{
				  alert(err)
			  }) 
		  },
		  async getAutoAudit(){
			try{
				const res = await axios.get("/AutoAuditNormal");
				if(res.status === 200){
					const ret = res.data;
					this.autoAuditNormal = ret.value;
				}
			}catch(err){
				throw new Error(err);
			}
		  },
		  async setAutoAudit(){
			try{
				// click is before value change..
				const url = `/AutoAuditNormal/${!this.autoAuditNormal}`
				const res = await axios.post(url, {});
				if(res.status === 200){
					alert("設定成功");
				}else{
					alert("無法設定");
				}
			}catch(err){
				throw new Error(err);
			}
		  },
		  async getMonitorList(){
			  try{
				  const res = await axios.get("/MonitorList")
				  if(res.status === 200){
					  const ret = res.data;
					  this.monitorList = ret;
					  this.selectedMonitor = ret[0].id;
				  }
			  }catch(err){	
				  throw new Error(err);
			  }
		  }
	  }
});

</script>
<script>
// var dataTableL10N = '@routes.Assets.at("localization/zh_tw.json")';
</script>

<script>
	
/* 	$(document).ready(function() {
        var oTable = $('#monitorTypeTable').dataTable({
        	language: {
				url: dataTableL10N,							
			},
        	searching: false,
        	ordering:  false,
			paging: false
        });
		
        oTable.$('td').editable( '/SaveMonitorTypeConfig', {
        	indicator : '儲存中...',
            tooltip   : '點擊該項目加以編輯...',
            cancel    : '取消',
            submit    : '確認',            
            name : 'data', 
            callback: function( sValue, y ) {
                console.log("callback");
                console.log(sValue);
                console.log(y);
            },           
            submitdata: function ( value, settings ) {
                var $me = $(this);
                return {                    
                    id: $me.parent().attr("id") + ":" + $me.attr("col")
                };
            },

            "width": "90%",
            "height": "100%"
        } );
	}); */
</script>