@* monthlyHourReportForm Template File *@
@(privilege: Privilege)
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">月份時報表</h1>
	</div>
</div>
<div class="row">
   	<div class="col-lg-12">
    	<div class="panel-group" id="accordion">
        	<div class="panel panel-primary" id="paramPanel">
            	<div class="panel-heading panel-title" >
            		<a data-toggle="collapse" data-parent="#accordion" href="#reportParam">報表參數</a>	
                </div>
            	<div class="panel-body panel-collapse in" id="reportParam">
            		<h5>測站</h5>
            		<div class="btn-group" data-toggle="buttons">
            			@for(m<-privilege.allowedMonitors){
            				<label class="btn btn-outline btn-primary dim">
								<input type="radio" name="monitor" id="@m">@Monitor.getDisplayName(m)</label>		
            			}
            		</div>
            		<h5>測項</h5>
            		<div class="btn-group" data-toggle="buttons">
            			@for(mt<-privilege.allowedMonitorTypes){
            				<label class="btn btn-outline btn-primary dim">
								<input type="radio" name="monitorType" id="@mt">@MonitorType.map(mt).desp</label>		
            			}
            		</div>
            		
 					<h5>查詢日期</h5>
					<div class="col-lg-2 input-group date">
  						<input type="text" class="form-control" id="reportDate" required>
  							<span class="input-group-addon">
  								<i class="glyphicon glyphicon-th"></i>
  							</span>
					</div>
					</br>
					<div>
						<button type="button" class="btn btn-primary" id="queryReport">查詢</button>
					</div>
            	</div>
        	</div>
        	<div class="panel panel-success" style="display:none" id="reportPanel">
            	<div class="panel-heading panel-title"" >
            		<a data-toggle="collapse" data-parent="#accordion" href="#monitorReport">月份時報表</a>	
                </div>
            	<div class="panel-body panel-collapse" id="monitorReport">
					<div id="reportDiv" align="center" style="overflow-x:auto">
           		</div>
            	</div>
        	</div> <!-- end of panel group -->
    	</div>
	</div>
<script>
$( document ).ready(function() {
	$('#reportDate').datepicker({
		format: 'yyyy-mm-dd',
	    todayBtn: "linked",
	    language: "zh-TW"
	});

	var monitor, monitorType, reportDate;
	
	function validate(){
		monitor = $("input[name='monitor']:checked").attr('id');
		if (!monitor) {
			alert('請選擇測站');
			return false;
		}
		monitorType = $("input[name='monitorType']:checked").attr('id');
		if (!monitorType) {
			alert('請選擇測項');
			return false;
		}
		reportDate = $('#reportDate').val();
		if(reportDate.length === 0){
			alert('請選擇報表日期');
			return false;
		}
		
		return true;
	}
	
	$('#queryReport').click(function(){
		if(!validate())
			return;

		$("#reportPanel").css('display','block');
		$("#reportParam").collapse();
		$("#reportPanel").collapse('show');

		$("body").css("cursor", "progress");
		
		var target_url = "/HTML/monitorMonthlyHourReport/" + monitor + '/' + monitorType + '/' + reportDate;
		console.log(target_url);
		
		$.ajax({
			url: target_url,
			data: "",
			contentType: "application/json; charset=utf-8",
			type: "GET",
			dataType: "html",
			success: function(result){
				
				$('#reportDiv').html(result);

				$('#reportTable').dataTable( {
					responsive: true,
					"dom": 'T<"clear">lfrtip',
					language: {
						url: '@routes.Assets.at("localization/zh_tw.json")',							
					},
					"tableTools": {
        				"sSwfPath": "@routes.Assets.at("js/plugins/dataTables/swf/copy_csv_xls_pdf.swf")"
        			},
					"paging":   false,
					"searching": false
	    		} );
	    		
			},
			error: function(xhr, status, errorThrown){
				console.log("錯誤訊息:" + status + "-" + errorThrown);
			},

			complete: function(xhr, status){
				$("body").css("cursor", "default");
			}					
		});
		
		/*
		$("#reportDiv").load(url);
		$("body").css("cursor", "default");
		$( document ).ready(function() {
			$('#reportTable').dataTable( {
				language: {
					url: '@routes.Assets.at("localization/zh_tw.json")'
				},
				"paging":   false
			} );
		});
		*/
	});
});
</script>


