@* monthlyHourReport Template File *@
@import controllers.Report._
@import com.github.nscala_time.time.Imports._
@import MonitorStatus._
@(monitor:Monitor.Value, mt:MonitorType.Value, reportDate:DateTime, report: MonthHourReport, nDays:Int)

<h3>監測月分時報表</h3>
<h4>監測站:@Monitor.map(monitor).name</h4>
<h4>日期:@reportDate.toString("yyyy年MM月")</h4>

<div class="col-lg-offset-6 col-lg-6">
<table class="table">
<tbody>
<tr>
	<td class="col-lg-1" style="color:black;background-color:@CalibrationColor">校正</td>
	<td class="col-lg-1" style="color:black;background-color:@RepairColor">維修</td>
	<td class="col-lg-1" style="color:black;background-color:@MaintanceColor">定保</td>
	<td class="col-lg-1" style="color:black;background-color:@AbnormalColor">異常</td>
	<td class="col-lg-1" style="color:black;background-color:@AutoAuditColor">自動檢核</td>
	<td class="col-lg-1" style="color:black;background-color:@ManualAuditColor">人工註記</td>
</tr>
</tbody>
</table>
</div>
<table id="reportTable" class="table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>日\時</th>
			@for(t<- 0 to 23){
				<td>@t</td>
			}
			<td>平均</td>
			<td>最大</td>
			<td>最小</td>
			<td>有效筆數</td>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>平均</td>
			@for(stat<-report.hourStatArray){
				<td>@MonitorType.format(mt, stat.avg)</td>
			}
			<td>@MonitorType.format(mt, report.StatStat.avg)</td>
			<td></td>
			<td></td>
			<td>@report.StatStat.count</td>
		</tr>
		<tr>
			<td>最大</td>
			@for(stat<-report.hourStatArray){
				<td>@MonitorType.format(mt, stat.max)</td>
			}
			<td></td>
			<td>@MonitorType.format(mt, report.StatStat.max)</td>
			<td></td>
			<td>@report.StatStat.count</td>
		</tr>
		<tr>
			<td>最小</td>
			@for(stat<-report.hourStatArray){
				<td>@MonitorType.format(mt, stat.min)</td>
			}
			<td></td>
			<td></td>
				<td>@MonitorType.format(mt, report.StatStat.min)</td>	
			<td>@report.StatStat.count</td>
			
		</tr>
	</tfoot>
	<tbody>
		@for(d<-0 to (nDays-1)){
			<tr>
			<th>@("%02d".format(d+1))</th>
			@for(hour<-0 to 23){
				<td style="@MonitorType.getStyleStr(monitor, mt, (report.dailyReports(d).typeList(0).dataList(hour)._2, report.dailyReports(d).typeList(0).dataList(hour)._3))">
					@MonitorType.format(mt, report.dailyReports(d).typeList(0).dataList(hour)._2)</span>
				</td>
			}
				<td>@MonitorType.format(mt, report.dailyReports(d).typeList(0).stat.avg)</td>	
				<td>@MonitorType.format(mt, report.dailyReports(d).typeList(0).stat.max)</td>	
				<td>@MonitorType.format(mt, report.dailyReports(d).typeList(0).stat.min)</td>	
			<td>@report.dailyReports(d).typeList(0).stat.count</td>
			
			</tr>
		}
	</tbody>
</table>            		
 

