<div id="otherRule" class="tab-pane" align="left">
	<br/>
	<h3>說明:</h3>
	<p>其他觸發設定.</p>
	<form id="otherForm" class="form-horizontal">
        <div class="form-group">
			<label class="col-lg-4 control-label">觸發警報 (警報案件) 啟用</label>
        	<div class="col-lg-1">        		
            	<input type="checkbox" name="enabled" class="form-control">
            </div>
        </div>		            	
        <h3>觸發規則:</h3>
 		<ul>
			<li><input type="checkbox" name="calibrate" />小時資料校正中</li>
			<li><input type="checkbox" name="invalidData" />無效數據</li>
			<li><input type="checkbox" name="instAbnormal" />儀器異常</li>
			<li><input type="checkbox" name="overStd" />超限(內控,警告,法規)</li>
		</ul>
		<div class="form-group">
			<label class="col-lg-4 control-label">自動立案 (處理中案件) 啟用<br/>
				啟動後系統自動立案並通知Line群組</label>
        	<div class="col-lg-1">        		
            	<input type="checkbox" name="autoTicket" class="form-control">
            </div>
        </div>
        <ul>
			<li><input type="checkbox" name="calibrate2" />小時資料校正中</li>
			<li><input type="checkbox" name="invalidData2" />無效數據</li>
			<li><input type="checkbox" name="instAbnormal2" />儀器異常</li>
			<li><input type="checkbox" name="overStd2" />超限(內控,警告,法規)</li>
		</ul>
		<div class="form-group">
        	<div class="col-lg-offset-2 col-lg-10">
            	<button class="btn btn-primary" type="submit">確認</button>
            </div>
        </div>
	</form>
</div>
<script>
function updateOtherForm(){
	var config = auditConfig.otherRule;
	var $enabled = $('#otherForm :input[name="enabled"]')
	$enabled.prop('checked', config.enabled);
	var $autoTicket = $('#otherForm :input[name="autoTicket"]')
	$autoTicket.prop('checked', config.autoTicket)
	let mtlist = ['calibrate','invalidData', 'instAbnormal', 'overStd', 'calibrate2','invalidData2', 'instAbnormal2', 'overStd2']
	for(let mt of mtlist){
		let $chk = $(`#otherForm :input[name="${mt}"]`);
		if(config[mt] === false)
			$chk.prop('checked', false);
		else
			$chk.prop('checked', true);
	}
}

$('#otherForm').submit(function(){
	var param={};
	var $enabled = $('#otherForm :input[name="enabled"]')
	param.enabled = $enabled.prop("checked");
	var $autoTicket = $('#otherForm :input[name="autoTicket"]')
	param.autoTicket = $autoTicket.prop("checked");
	let mtlist = ['calibrate','invalidData', 'instAbnormal', 'overStd', 'calibrate2','invalidData2', 'instAbnormal2', 'overStd2']
	for(let mt of mtlist){
		let $chk = $(`#otherForm :input[name="${mt}"]`)
		param[mt] = $chk.prop("checked");
	}

	auditConfig.otherRule = param;
	postAuditCfg();
	event.preventDefault();
});

</script>