@* outline Template File *@
@import controllers.Security._
@(title: String, user:controllers.Security.UserInfo, privilege: Privilege, content:Html)(implicit request: RequestHeader)
<!DOCTYPE html>
<html lang="zh-tw">

<head>

    <meta charset="utf-8">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	<META HTTP-EQUIV="Expires" CONTENT="-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Aragorn Huang">
    <title>@title</title>

    <link href='@routes.Assets.at("css/bootstrap.min.css")' rel="stylesheet">
    <link href='@routes.Assets.at("font-awesome/css/font-awesome.css")' rel="stylesheet">

    <!-- Data Tables -->

    <link href='@routes.Assets.at("css/plugins/dataTables/dataTables.bootstrap.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/plugins/dataTables/dataTables.responsive.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/plugins/dataTables/dataTables.tableTools.min.css")' rel="stylesheet">

	<link href='@routes.Assets.at("css/plugins/dataTables/jquery.dataTables.min.css")' rel="stylesheet">

	<!-- Datepicker --> 
	<link href="@routes.Assets.at("css/plugins/datepicker/datepicker3.css")" rel="stylesheet">	
	<link href="@routes.Assets.at("css/plugins/datetimepicker/bootstrap-datetimepicker.min.css")" rel="stylesheet">
	<link href="@routes.Assets.at("css/plugins/morris/morris-0.4.3.min.css")" rel="stylesheet">

    <link href='@routes.Assets.at("css/animate.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/style.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")' rel="stylesheet">
	<link href='@routes.Assets.at("css/aqm.css")' rel="stylesheet">
	

	<!-- Mainly scripts -->
	<script src='@routes.Assets.at("js/jquery-2.1.4.min.js")'></script>
	<script src='@routes.Assets.at("js/bootstrap.min.js")'></script>
	<script src='@routes.Assets.at("js/plugins/metisMenu/jquery.metisMenu.js")'></script>
	<script src='@routes.Assets.at("js/plugins/slimscroll/jquery.slimscroll.min.js")'></script>

    <!-- Data Tables -->
    <script src='@routes.Assets.at("js/plugins/dataTables/jquery.dataTables.min.js")'></script>
    <script src='@routes.Assets.at("js/plugins/dataTables/dataTables.bootstrap.js")'></script>
    <script src='@routes.Assets.at("js/plugins/dataTables/dataTables.responsive.min.js")'></script>
    <script src='@routes.Assets.at("js/plugins/dataTables/dataTables.tableTools.min.js")'></script>
    
    <script src='@routes.Assets.at("js/plugins/datepicker/bootstrap-datepicker.min.js")'></script>
	<script src='@routes.Assets.at("js/plugins/datepicker/bootstrap-datepicker.zh-TW.min.js")'></script>
	<script src='@routes.Assets.at("js/moment-with-locales.min.js")'></script>
	<script src='@routes.Assets.at("js/plugins/datetimepicker/bootstrap-datetimepicker.min.js")'></script>
	
	<script src='@routes.Assets.at("js/plugins/table2excel/jquery.table2excel.min.js")'></script>

	<script src='@routes.Assets.at("js/highcharts/highcharts.js")'></script>
	<script src='@routes.Assets.at("js/highcharts/highcharts-more.js")'></script>
	<script src='@routes.Assets.at("js/highcharts/modules/exporting.js")'></script>
	<script src='@routes.Assets.at("js/plugins/jeditable/jquery.jeditable.js")'></script>	
	
	<!-- Custom and plugin javascript -->
	<script src='@routes.Assets.at("js/inspinia.js")'></script>
	<script src='@routes.Assets.at("js/plugins/pace/pace.min.js")'></script>	
	<script src='@routes.Assets.at("js/plugins/slimscroll/jquery.slimscroll.min.js")'></script>    
	<script src='@routes.Assets.at("js/plugins/iCheck/icheck.min.js")'></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
            
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCFuSnApEhdYSANwfU4OZ4tH902Tu3vjFI">
    </script>
    
    <script src="@routes.Assets.at("js/plugins/infobox/infobox_packed.js")"></script>
    <script>
    	Highcharts.setOptions({
    		global: {
    			useUTC: false
    		},
    		lang: {
    			contextButtonTitle: '圖表功能表',
    			downloadJPEG: '下載JPEG',
    			downloadPDF: '下載PDF',
    			downloadPNG: '下載PNG',
    			downloadSVG: '下載SVG',
    			drillUpText: '回到{series.name}.',
    			noData: '無資料',
    			months: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
    			printChart: '列印圖表',
    			resetZoom: '重設放大區間',
    			resetZoomTitle: '回到原圖大小',
    			shortMonths: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
    			weekdays: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六']
    		}
    	});
    </script>
    <script>
    var myInterval;
    var chartHeight=500;
	function loadPage(url, root, title){
		//var elem = $( this );
		clearInterval(myInterval);
		$("#breadcrumb-title").text(root + " > " + title);
		document.title = title;
		$("#wrapper-content").load(url);
	}
	function loadRefreshPage(url, root, title){
		function refreshPage(){
			$("#wrapper-content").load(url);
		}
		
		clearInterval(myInterval);		
		$("#breadcrumb-title").text(root + " > " + title);
		document.title = title;
		$("#wrapper-content").load(url);
		myInterval = setInterval(refreshPage, 60 * 1000);		
	}
    </script>
</head>

<body class="skin-1">
<!--New UI -->
<div id="wrapper">

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                             <img alt="image" class="img-circle" src='@routes.Assets.at("images/bb.png")' height='80%' width='80%' />
                             </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">@user.name</strong>
                             </span> <span class="text-muted text-xs block">使用者<b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    	@if(user.isAdmin){
                        	<li><a href="#" onClick="loadPage('/UserManagement','系統管理','使用者管理')">使用者設定</a></li>
                        	<li class="divider"></li>
                        }
                        <li><a href="/logout">登出</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    
                </div>
            </li>
            @if(privilege.allowedMenuRights.contains(MenuRight.RealtimeInfo)){
            <li class="active">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">即時資訊</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ><a href="/">即時畫面</a></li>
                    <li ><a href="#" onClick="loadRefreshPage('/realtimeStatus','即時資訊','即時數據')">即時數據</a></li>
                    <li ><a href="#" onClick="loadPage('/realtimeTrend','即時資訊','即時小時趨勢圖')">即時小時趨勢圖</a></li>
                    <li ><a href="#" onClick="loadPage('/realtimeMinTrend','即時資訊','即時分鐘趨勢圖')">即時分鐘趨勢圖</a></li>
                    <li ><a href="#" onClick="loadPage('/realtimeImage','即時資訊','即時影像')">即時影像</a></li>
                </ul>
            </li>
            }
            @if(privilege.allowedMenuRights.contains(MenuRight.DataQuery)){
            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">數據查詢</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">                
                    <li><a href="#" onClick="loadPage('/HistoryQuery','數據查詢','歷史資料查詢')">歷史資料查詢</a></li>
                    <li><a href="#" onClick="loadPage('/HistoryTrend','數據查詢','歷史趨勢圖')">歷史趨勢圖</a></li>
                    <li><a href="#" onClick="loadPage('/PsiTrend','數據查詢','PSI查詢')">PSI查詢</a></li>
                    <li><a href="#" onClick="loadPage('/CompareLastYear','數據查詢','各年同期比較')">各年同期比較</a></li>
                    <li><a href="#" onClick="loadPage('/OverLawStd','數據查詢','超過法規值查詢')" >超過法規值查詢</a></li>
                    <li><a href="#" onClick="loadPage('/EffectivePercentage','數據查詢','有效數據百分比')" >有效數據百分比</a></li>
                    <li><a href="#" onClick="loadPage('/WindRose ','數據查詢','風瑰圖')" >風瑰圖</a></li>
                    <li><a href="#" onClick="loadPage('/CalibrationQuery','數據查詢','校正資料查詢')">校正資料查詢</a></li>
                    <li><a href="#" onClick="loadPage('/Alarm','數據查詢','警報記錄查詢')">警報記錄查詢</a></li>
                </ul>
            </li>
            }
            @if(privilege.allowedMenuRights.contains(MenuRight.Report)){
            <li>
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">報表查詢 </span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#" onClick="loadPage('/report/@ReportType.MonitorReport','報表查詢','監測報表')">監測報表</a></li>
                    <li><a href="#" onClick="loadPage('/epaCompare','報表查詢','測站數據比較報表')">測站數據比較報表</a></li>
                    <li><a href="#" onClick="loadPage('/CalibrationReportForm','報表查詢','校正報表')">校正報表</a></li>
                    <li><a href="#" onClick="loadPage('/PsiQuery','報表查詢','空氣品質PSI報表')">空氣品質PSI報表</a></li>
                    <li><a href="#" onClick="loadPage('/EffectiveQuery','報表查詢','有效率年報表')">有效率年報表</a></li>
                    <li><a href="#" onClick="loadPage('/report/@ReportType.MonthlyHourReport', '報表查詢','月份時報表')">月份時報表</a></li>
                    <li><a href="#" onClick="loadPage('/MonitorAbnormal','報表查詢','測站異常狀況反應表')">測站異常狀況反應表</a></li>
                    <li><a href="#" onClick="loadPage('/MonitorAggregate','報表查詢','測站每日監測彙總表')">測站每日監測彙總表</a></li>                                     
                </ul>
            </li>
            }
            @if(privilege.allowedMenuRights.contains(MenuRight.Statistics)){
            <li>
                <a href="#"><i class="fa fa-university"></i> <span class="nav-label">統計分析</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#" onClick="loadPage('/CalculateStat','統計分析','數據統計')">數據統計</a></li>
                    <li><a href="#" onClick="loadPage('/AuditedQuery','統計分析','數據檢核查詢')">數據檢核查詢</a></li>
                    <li><a href="#" onClick="loadPage('/Regression','統計分析','趨勢分析')">趨勢分析</a></li>
                </ul>
            </li>
            }
            @if(user.isAdmin && privilege.allowedMenuRights.contains(MenuRight.SystemManagement)){
            <li>
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">系統管理</span></a>
                <ul class="nav nav-second-level">
                	<li><a href="#" onClick="loadPage('/MonitorStatusConfig','系統管理','狀態碼管理')">狀態碼管理</a></li>                    
                    <li><a href="#" onClick="loadPage('/MonitorTypeConfig','系統管理','測項參數')">測項參數</a></li>
                    <li><a href="#" onClick="loadPage('/Monitor','系統管理','測站管理')">測站管理</a></li>
                    <li><a href="#" onClick="loadPage('/Instrument','系統管理','儀器狀態')">儀器狀態</a></li>
                    <li><a href="#" onClick="loadPage('/AuditConfig','系統管理','資料檢核設定')">資料檢核設定</a></li>
                    <li><a href="#" onClick="loadPage('/ManualAudit','系統管理','人工資料註記')">人工資料註記</a></li>
                    <li><a href="#" onClick="loadPage('/GroupManagement','系統管理','管理權限')">管理權限</a></li>                   
                    <li><a href="#" onClick="loadPage('/UserManagement','系統管理','使用者管理')">使用者管理</a></li>
                    <li><a href="#" onClick="loadPage('/RecordValidation','系統管理','資料傳輸狀況')">資料傳輸狀況</a></li>
                    <li><a href="#" onClick="loadPage('/RealtimeEpaRecord','系統管理','環保署及時資料')">環保署及時資料</a></li>
                    <li><a href="#" onClick="loadPage('/EventLog','系統管理','事件紀錄')">事件紀錄</a></li>                    
                 </ul>
            </li>
            }
            @if(privilege.allowedMenuRights.contains(MenuRight.RepartMaintance)){
            <li>
            	<a href="#"><i class="fa fa-tasks"></i> <span class="nav-label">維修保養</span></a>
            	<ul class="nav nav-second-level">
            		<li>
                    	<a href="#">案件管理<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#" onClick="loadPage('/NewTicket','維修保養','新增案件')">新增案件</a>
                                </li>
                                <li>
                                    <a href="#" onClick="loadPage('/QueryTicket','維修保養','案件查詢')">案件查詢</a>
                                </li>
                                <li>
                                    <a href="#" onClick="loadPage('/CloseTicket','維修保養','結束案件')">結束案件</a>
                                </li>
                            </ul>
                        </li>
            		<li><a href="#" onClick="loadPage('/MyTicket','維修保養','我的案件')">我的案件</a></li>
            		<li><a href="#" onClick="loadPage('/EquipmentHistory','維修保養','儀器保養履歷')">儀器保養履歷</a></li>
            		<li><a href="#" onClick="loadPage('/MonitorJournal','維修保養','測站工作日誌')">測站工作日誌</a></li>
            		<li><a href="#" onClick="loadPage('/EquipmentManagement','維修保養','設備管理')">設備管理</a></li>
            		<li><a href="#" onClick="loadPage('/PartManagement','維修保養','料件管理')">料件管理</a></li>
            		<li><a href="#" onClick="loadPage('/DutySchedule','維修保養','值日排班表')">值日排班表</a></li>
					<li><a href="#" onClick="loadPage('/DownloadNotification','維修保養','環保局通報單')">環保局通報單</a></li>
					<li><a href="#" onClick="loadPage('/MaintanceSchedule','維修保養','測站定保排程表')">測站定保排程表</a></li>					            		             		           		
            	</ul>
            </li>
            }
        </ul>

    </div>
</nav>

<div id="page-wrapper" class="gray-bg">
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
        	<span style="display:inline">
        		<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
				
            	<img src='@routes.Assets.at("images/title.png")' width='70%' height='70%'>
				
        	</span>            
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li id="alertButton" class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span id="alert_count" class="label label-danger"></span>
                </a>
                <ul id="alert_list" class="dropdown-menu dropdown-alerts">
                    <li class="divider"></li>
                    <li id="alarmQuery">
                        <div class="text-center link-block">
                            <a href="#" onClick="loadPage('/Alarm','數據查詢','警報記錄查詢')">
                                <strong>警報記錄查詢</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>

            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out"></i> 登出
                </a>
            </li>
        </ul>

    </nav>
</div>
<div class="row wrapper border-bottom white-bg">
    <div class="col-lg-10">		
        <h3 id='breadcrumb-title'>即時資訊 &gt 即時畫面</h3>
		
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="wrapper-content">
@content
</div>



</div>
</div>
<script>
	var userId = '@user.id';
	var n_url = '@routes.Realtime.alarmNofificationSocket().webSocketURL()';
</script>
<script>
	var nAlert = 0;
	var nSocket;
	var alertBuffer = [];
	function removeOldAlerts(){
		while(alertBuffer.length > 10){
			alertBuffer.shift();
		}
	}
	
	function updateAlertCount(){
		$alert_count = $('#alert_count');
		if(nAlert == 0)
			$alert_count.text('');
		else
			$alert_count.text(nAlert);
	}
	
	nSocket = new WebSocket(n_url);
	nSocket.onmessage = function(evt){
		var cmd = evt.data.split("!");
		if(cmd[0] == "alert"){	
			nAlert++;
			var $firstItem = $('#alert_list li:first');
			var item = "<li style='Color:Blue'>" + cmd[1] + "</li>";
			$firstItem.before(item);
			alertBuffer.push(item);		
			updateAlertCount();
		}
	}
	
	nSocket.onopen = function(evt){
		console.log("Connection open...");
		nSocket.send("start:" + userId);
	}
	nSocket.onclose = function(evt){
		console.log("Connection closed.");
	}
	nSocket.onerror = function(evt){
		console.log("Error!");
		nSocket.close();
	}

	$('#alertButton').on('shown.bs.dropdown', function () {
		nAlert = 0;
		updateAlertCount();
	})
	var $alarmQueryLi = $('#alarmQuery').html();
	$('#alertButton').on('hidden.bs.dropdown', function () {
		var $alertList = $('#alert_list');		
		$alertList.empty();
		removeOldAlerts();
		for(var i=alertBuffer.length-1;i>=0;i--){
			$alertList.append(alertBuffer[i]);
		}
		
		$alertList.append('<li class="divider"></li>');
		$alertList.append($alarmQueryLi);
		//onClick="loadPage("/Alarm","數據查詢","警報記錄查詢")"
	})
		 
	updateAlertCount();
</script>
</body>

</html>