@* outline Template File *@
@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="zh-tw">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@title</title>

    <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="@routes.Assets.at("stylesheets/metisMenu.min.css")" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="@routes.Assets.at("stylesheets/timeline.css")" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="@routes.Assets.at("stylesheets/sb-admin-2.css")" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet" type="text/css">

	<!-- Datatable -->
	<link href="@routes.Assets.at("stylesheets/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" >
	
	<!-- Datepicker -->
	<link href="@routes.Assets.at("stylesheets/bootstrap-datepicker.min.css")" rel="stylesheet">
	
	<!-- Morris Charts CSS -->
    <link href="@routes.Assets.at("stylesheets/morris.css")" rel="stylesheet">
	
	<style>
	.map_container{
    	position: relative;
    	width: 100%;
    	padding-bottom: 56.25%; /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
	}
	.map_container .map_canvas{
    	position: absolute;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	margin: 0;
    	padding: 0;
	}
		
	</style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- jQuery -->
    <script src="@routes.Assets.at("javascripts/jquery.min.js")"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
    
    <!-- Metis Menu Plugin JavaScript -->
    <script src="@routes.Assets.at("javascripts/metisMenu.min.js")"></script>
   
    <!-- Datatable JavaScript -->
    <script src="@routes.Assets.at("javascripts/jquery.dataTables.min.js")"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="@routes.Assets.at("javascripts/sb-admin-2.js")"></script>    
    
    <!-- Datepicker JavaScript -->
    <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.min.js")"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap-datepicker.zh-TW.min.js")" charset="UTF-8"></script>
    
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCFuSnApEhdYSANwfU4OZ4tH902Tu3vjFI&sensor=FALSE">
    </script>
    
    <script src="@routes.Assets.at("javascripts/infobox_packed.js")"></script>
    
    <script>
	function loadPage(url){
		$("#page-wrapper").load(url);
	}
    </script>
</head>

<body>
	
<div id="wrapper">
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0">
	<div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        	<span class="sr-only">Toggle navigation</span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        	<span class="icon-bar"></span>
        </button>
    	<a class="navbar-brand" href="/" style="height:80px">
    		<span>
    			<img src="@routes.Assets.at("images/title/logo.png")" alt="@title"/>	
    		</span>
    	</a>
	</div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right" style="height:80px">
		<!-- alert -->
        <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw fa-2x"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
   		<!-- user... -->
        <li class="dropdown">
        	<a class="dropdown-toggle" data-toggle="dropdown" href="#">
            	<i class="fa fa-user fa-fw fa-2x"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
            <li><a href="/"><i class="fa fa-user fa-fw"></i>帳戶設定</a>
            </li>
            <li class="divider"></li>
            <li><a href="/logoff"><i class="fa fa-sign-out fa-fw"></i>登出</a>
            </li>
            </ul>
		</li>
    </ul>
    <!-- /.navbar-top-links -->
    
    <div class="navbar-default sidebar" role="navigation" style="margin-top: 80px">
    	<div class="sidebar-nav navbar-collapse" style="font-size: 18px">
        	<ul class="nav" id="side-menu">
                 <li>
                	<a href="#"><i class="fa fa-dashboard fa-fw"></i>即時資訊<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    	<li>
                    		<a href="#">即時畫面</a>
                    		</li>
                    	<li>
                    		<a href="#">即時數據</a>
                    		</li>
                    	<li>
                    		<a href="#">即時趨勢圖</a>
                    		</li>
                    	<li>
                    		<a href="#">即時影像</a>
                    		</li>                    		
               		</ul>
                    </li>
                <li>
                	<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>數據查詢<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    	<li>
                    		<a href="#">歷史資料查詢</a>
                    		</li>
                    	<li>
                    		<a href="#" onClick="loadPage('/Trend')">歷史趨勢圖</a>
                    		</li>
                    	<li>
                    		<a href="#">PSI查詢</a>
                    		</li>
                    	<li>
                    		<a href="#">各年同期比較</a>
                    		</li>
                    	<li>
                    		<a href="#">超過法規值查詢</a>
                    		</li>
                    	<li>
                    		<a href="#">有效數據百分比</a>
                    		</li>                    
                    	<li>
                    		<a href="#">風瑰圖</a>
                    		</li>		
                    	<li>
                    		<a href="#">校正資料查詢</a>
                    		</li>
                    	<li>
                    		<a href="#">警報記錄查詢</a>
                    		</li>
               		</ul>
                    </li>
                <li>
                	<a href="#"><i class="fa fa-table fa-fw"></i>監測報表<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    	<li>
                    		<a href="#" onClick="loadPage('/report/@ReportType.MonitorReport')">監測報表</a>
                    		</li>
                    	<li>
                    		<a href="#">測站數據比較報表</a>
                    		</li>
                    	<li>
                    		<a href="#">校正報表</a>
                    		</li>
                    	<li>
                    		<a href="#">空氣品質PSI報表</a>
                    		</li>
                    	<li>
                    		<a href="#">有效率年報表</a>
                    		</li>
                    	<li>
                    		<a href="#" onClick="loadPage('/report/@ReportType.MonthlyHourReport')">月份時報表</a>
                    		</li>                    
               		</ul>
                    </li>    
                    <li>
                	<a href="#"><i class="fa fa-university fa-fw"></i>統計分析<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    	<li>
                    		<a href="#">數據統計</a>
                    		</li>
                    	<li>
                    		<a href="#">有效率數據判斷</a>
                    		</li>
                    	<li>
                    		<a href="#">趨勢分析</a>
                    		</li>
               		</ul>
                    </li>
            	<li>
                	<a href="#"><i class="fa fa-gears fa-fw"></i>系統管理<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                    	<li>
                    		<a href="#">管理權限</a>
                    		</li>
                    	<li>
                    		<a href="#" onClick="loadPage('/MonitorTypeConfig')">測項參數</a>
                    		</li>
                    	<li>
                    		<a href="#" onClick="loadPage('/Monitor')">測站管理</a>
                    		</li>
                    	<li>
                    		<a href="#">使用者管理</a>
                    		</li>                    		
               		</ul>
            	</li>
        	</ul>
    	</div>
	</div>    
</nav>


<div id="page-wrapper">
@content
</div>

</div>

    <!-- Morris Charts JavaScript -->
    <script src="@routes.Assets.at("javascripts/raphael-min.js")"></script>
    <script src="@routes.Assets.at("javascripts/morris.min.js")"></script>
</body>

</html>