@* outline Template File *@
@(title: String, userID:String)(content: Html)
<!DOCTYPE html>
<html lang="zh-tw">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Aragorn Huang">
    <title>@title</title>

    <link href='@routes.Assets.at("css/bootstrap.min.css")' rel="stylesheet">
    <link href='@routes.Assets.at("font-awesome/css/font-awesome.css")' rel="stylesheet">

    <!-- Data Tables -->

    <link href='@routes.Assets.at("css/plugins/dataTables/dataTables.bootstrap.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/plugins/dataTables/dataTables.responsive.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/plugins/dataTables/dataTables.tableTools.min.css")' rel="stylesheet">

	<link href='@routes.Assets.at("css/plugins/dataTables/jquery.dataTables.min.css")' rel="stylesheet">

	<!-- Datepicker --> 
	<link href="@routes.Assets.at("css/plugins/datepicker/datepicker3.css")" rel="stylesheet">
	<link href="@routes.Assets.at("css/plugins/morris/morris-0.4.3.min.css")" rel="stylesheet">

    <link href='@routes.Assets.at("css/animate.css")' rel="stylesheet">
    <link href='@routes.Assets.at("css/style.css")' rel="stylesheet">
	<link href='@routes.Assets.at("css/aqm.css")' rel="stylesheet">

	<!-- Mainly scripts -->
	<script src='@routes.Assets.at("js/jquery-2.1.4.min.js")'></script>
	<script src='@routes.Assets.at("js/bootstrap.min.js")'></script>
	<script src='@routes.Assets.at("js/plugins/metisMenu/jquery.metisMenu.js")'></script>
	<script src='@routes.Assets.at("js/plugins/slimscroll/jquery.slimscroll.min.js")'></script>

    <!-- Data Tables -->
    <script src='@routes.Assets.at("js/plugins/dataTables/jquery.dataTables.min.js")'></script>
    <script src='@routes.Assets.at("js/plugins/dataTables/dataTables.bootstrap.js")'></script>
    <script src='@routes.Assets.at("js/plugins/dataTables/dataTables.responsive.js")'></script>
    <script src='@routes.Assets.at("js/plugins/dataTables/dataTables.tableTools.min.js")'></script>
    <script src='@routes.Assets.at("js/plugins/datepicker/bootstrap-datepicker.min.js")'></script>
	<script src='@routes.Assets.at("js/plugins/datepicker/bootstrap-datepicker.zh-TW.min.js")'></script>
	<!-- Custom and plugin javascript -->
	<script src='@routes.Assets.at("js/inspinia.js")'></script>
	<script src='@routes.Assets.at("js/plugins/pace/pace.min.js")'></script>

	<script src='@routes.Assets.at("js/plugins/slimscroll/jquery.slimscroll.min.js")'></script>

	<!--  Highchart -->
	<script src='@routes.Assets.at("js/highcharts/highcharts.js")'></script>
	<!-- <script src='@routes.Assets.at("js/highcharts/modules/exporting.js")'></script>
	-->
	<!-- Morris Charts CSS -->
    
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
            
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCFuSnApEhdYSANwfU4OZ4tH902Tu3vjFI&sensor=FALSE">
    </script>
    
    <script src="@routes.Assets.at("js/plugins/infobox/infobox_packed.js")"></script>
    
    <script>
	function loadPage(url, root, title){
		//var elem = $( this );
		//console.log(elem);
		$("#breadcrumb-title").text(title);
		$("#breadcrumb-root").text(root);
		$("#breadcrumb-level1").text(title);
		$("#wrapper-content").load(url);
	}
    </script>
</head>

<body class="skin-1">
<!--New UI -->
<div id="wrapper">

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                             <img alt="image" class="img-circle" src='@routes.Assets.at("images/bb.png")' height='80%' width='80%' />
                             </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">@userID</strong>
                             </span> <span class="text-muted text-xs block">使用者<b class="caret"></b></span> </span> </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="profile.html">設定個人檔案</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">登出</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    
                </div>
            </li>
            <li class="active">
                <a href="index.html"><i class="fa fa-th-large"></i> <span class="nav-label">即時資訊</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li ><a href="/">即時畫面</a></li>
                    <li ><a href="#" onClick="loadPage('/realtimeStatus','即時資訊','即時數據')">即時數據</a></li>
                    <li ><a href="#" onClick="loadPage('/realtimeTrend','即時資訊','即時趨勢圖')">即時趨勢圖</a></li>
                    <li ><a href="#" onClick="loadPage('/realtimeImage','即時資訊','即時影像')">即時影像</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">數據查詢</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">                
                    <li><a href="#" onClick="loadPage('/HistoryQuery','數據查詢','歷史資料查詢')">歷史資料查詢</a></li>
                    <li><a href="#" onClick="loadPage('/HistoryTrend','數據查詢','歷史趨勢圖')">歷史趨勢圖</a></li>
                    <li><a href="#" onClick="loadPage('/PsiTrend','數據查詢','PSI查詢')">PSI查詢</a></li>
                    <li><a href="#">各年同期比較</a></li>
                    <li><a href="#" onClick="loadPage('/OverLawStd','數據查詢','超過法規值查詢')" >超過法規值查詢</a></li>
                    <li><a href="#" onClick="loadPage('/EffectivePercentage','數據查詢','有效數據百分比')" >有效數據百分比</a></li>
                    <li><a href="#" onClick="loadPage('/WindRose ','數據查詢','風瑰圖')" >風瑰圖</a></li>
                    <li><a href="#" onClick="loadPage('/CalibrationQuery','數據查詢','校正資料查詢')">校正資料查詢</a></li>
                    <li><a href="#" onClick="loadPage('/Alarm','數據查詢','警報記錄查詢')">警報記錄查詢</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">報表查詢 </span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#" onClick="loadPage('/report/@ReportType.MonitorReport','報表查詢','監測報表')">監測報表</a></li>
                    <li><a href="#">測站數據比較報表</a></li>
                    <li><a href="#" onClick="loadPage('/CalibrationQuery','報表查詢','校正報表')">校正報表</a></li>
                    <li><a href="#" onClick="loadPage('/PsiQuery','報表查詢','空氣品質PSI報表')">空氣品質PSI報表</a></li>
                    <li><a href="#" onClick="loadPage('/EffectiveQuery ','報表查詢','有效率年報表')">有效率年報表</a></li>
                    <li><a href="#" onClick="loadPage('/report/@ReportType.MonthlyHourReport', '報表查詢','月份時報表')">月份時報表</a></li> 
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-university"></i> <span class="nav-label">統計分析</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#">數據統計</a></li>
                    <li><a href="#">有效率數據判斷</a></li>
                    <li><a href="#">趨勢分析</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-desktop"></i> <span class="nav-label">系統管理</span></a>
                <ul class="nav nav-second-level">
                    <li><a href="#">管理權限</a></li>
                    <li><a href="#" onClick="loadPage('/MonitorTypeConfig','系統管理','測項參數')">測項參數</a></li>
                    <li><a href="#" onClick="loadPage('/Monitor','系統管理','測站管理')">測站管理</a></li>
                    <li><a href="#">使用者管理</a></li>
                    <li><a href="#" onClick="loadPage('/RecordValidation','系統管理','測站資料驗證')">測站資料驗證</a></li>
                    <li><a href="#" onClick="loadPage('/RealtimeEpaRecord','系統管理','擷取環保署及時資料')">擷取環保署及時資料</a></li>
                 </ul>
            </li>
        </ul>

    </div>
</nav>

<div id="page-wrapper" class="gray-bg">
<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
        	<span style="display:inline">
        		<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
				
            	<img src='@routes.Assets.at("images/title.png")' width='70%' height='70%'>
				
        	</span>            
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                    <i class="fa fa-bell"></i>  <span class="label label-primary">8</span>
                </a>
                <ul class="dropdown-menu dropdown-alerts">
                    <li>
                        <a href="mailbox.html">
                            <div>
                                <i class="fa fa-envelope fa-fw"></i> You have 16 messages
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="profile.html">
                            <div>
                                <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                <span class="pull-right text-muted small">12 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="grid_options.html">
                            <div>
                                <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                <span class="pull-right text-muted small">4 minutes ago</span>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="text-center link-block">
                            <a href="notifications.html">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>


            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out"></i> 登出
                </a>
            </li>
        </ul>

    </nav>
</div>
<div class="row wrapper border-bottom white-bg">
    <div class="col-lg-10">
		
        <h5 id='breadcrumb-title'>即時畫面</h2>
		
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight" id="wrapper-content">
@content
</div>

<div class="footer fixed" id="footer">
    <div class="pull-right">
        <strong>環保資訊</strong>
    </div>
    <div>
        <strong>Copyright</strong> WECC &copy; 2014-2015
    </div>
</div>

</div>
</div>

</body>

</html>