@* historyReport Template File *@
@import com.github.nscala_time.time.Imports._
@import Query._
@(monitorType:MonitorType.Value, start:DateTime, end:DateTime, report:Seq[OverLawStdEntry])

<H3>測項:@MonitorType.map(monitorType).desp (@MonitorType.map(monitorType).unit)</H3>
<H5>開始:@start.toString("YYYY-MM-dd")</H5>
<H5>結束:@end.toString("YYYY-MM-dd")</H5>

<table id="historyReport" class="table">
<thead>
	<tr>
		<th>測站</th>
		<th>時間</th>
		<th>測值</th>		
	</tr>
</thead>
<tbody>
	@for(r <- report){
		<tr>
			<td>@Monitor.map(r.monitor).name</td>
			<td>@r.time.toString("YYYY/MM/dd hh:mm")</td>
			<td>@MonitorType.format(monitorType, Some(r.value))</td>
		</tr>
	}
</tbody>
</table>
<script>
$( document ).ready(function() {
	$('#historyReport').dataTable( {
		responsive: true,
		"dom": 'T&lt'+'clear'+'&gtlfrtip',
		language: {
			url: '@routes.Assets.at("localization/zh_tw.json")',							
		},
		"tableTools": {
        	"sSwfPath": "@routes.Assets.at("js/plugins/dataTables/swf/copy_csv_xls_pdf.swf")",
        	"aButtons": ["copy", "print", "csv", "xls"]
        },
		"paging":   false,
		"searching": false
	} );
});
</script>