@(partUsageList:List[PartUsage], partMap:Map[String, Part2])
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
        <div class="panel-heading panel-title"" >
        	物料使用紀錄表	
        </div>
        <div class="panel-body panel-collapse">
            <div align="right">            			
				<label class="btn btn-outline" data-toggle="tooltip" data-placement="bottom" title="Excel">
				<a href="/PartUsage/excel" id="downloadExcel">
					<i class="fa fa-file-excel-o fa-2x"></i></a></label>            			
			</div>
        	<div class="col-lg-1 col-lg-offset-1">
				<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPartModal">新增物料使用</button>							
			</div>
			<div class="col-lg-1">							
				<button type="button" class="btn btn-primary" id="deletePart">刪除物料使用</button>
			</div>
			<div class="col-lg-1">							
				<button type="button" class="btn btn-primary" id="modifyPart">修改物料使用</button>
			</div>
			<br/>
  			<div class="modal fade" id="newPartModal" role="dialog">
    			<div class="modal-dialog modal-lg">
      			<div class="modal-content">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">新增物料使用</h4>
        		</div>        						
        		<div class="modal-body">
          			<form class="form-horizontal">
						<div class="form-group">
							<label class="col-lg-2 control-label" >物料類別代碼:</label>
							<div class="col-lg-10">
								<div class="btn-group" data-toggle="buttons">
                        		<label class="btn btn-outline btn-primary"
                               		v-for="part in partList" :for="part.id" @@click="partClass=part">
                            		<input type="radio" name="partType">{{ part.id }} &nbsp;</label>
                            	</div>                    			
							</div>																													
						</div>						
						<div class="form-group">
							<label class="col-lg-2 control-label">中文名稱:</label>
							<div class="col-lg-10">
								{{partClass.chineseName}}
							</div>																		
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" >使用測站:</label>
							<div class="col-lg-10">
								<div class="btn-group" data-toggle="buttons">
                        		<label class="btn btn-outline btn-primary"
                               		v-for="monitor in monitorList" :for="monitor.id" @@click="toggle(monitors, monitor.id)">
                            		<input type="checkbox" name="monitors" :value="monitor.id" v-model="monitors">{{ monitor.name }} &nbsp;</label>
                            	</div>	                    			
							</div>																													
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">用量:</label>
							<div class="col-lg-4">
								<input type="number" class="form-control" v-model="usage">
							</div>																		
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">啟用日期:</label>
							<div class="col-lg-4">
								<input type="date" class="form-control" v-model="startDate">
							</div>																		
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" >更換週期:</label>
							<div class="col-lg-10">
								<div class="btn-group" data-toggle="buttons">
                        		<label class="btn btn-outline btn-primary"
                               		v-for="freq in freqTypeList" :for="freq.id" @@click="freqType=freq.id">
                            		<input type="radio" name="freqType">{{ freq.name }} &nbsp;</label>
                            	</div>                    			
							</div>																													
						</div>
						<div class="form-group" v-if="freqType=='Days'">
							<label class="col-lg-2 control-label">日保養(天):</label>
							<div class="col-lg-4">
								<input type="number" class="form-control" v-model="days">
							</div>																		
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">啟用預警:</label>
							<div class="col-lg-4">
								<input type="checkbox" class="form-control" v-model="alarm">
							</div>																		
						</div>						
					</form>
        		</div>
        		<div class="modal-footer">
        			<button class="btn btn-primary" data-dismiss="modal" @@click="newPart">新增</button>
					<button id="cancelPart" class="btn btn-primary" data-dismiss="modal">取消</button>        							          							
        		</div>        						
      		</div>
    		</div>
  		</div>							
     
       		<div class="modal fade" id="modifyPartModal" role="dialog">
    			<div class="modal-dialog modal-lg">
      			<div class="modal-content">
        		<div class="modal-header">
          			<button type="button" class="close" data-dismiss="modal">&times;</button>
          			<h4 class="modal-title">修改物料使用</h4>
        		</div>        						
        		<div class="modal-body">
          			<form class="form-horizontal">
						<div class="form-group">
							<label class="col-lg-2 control-label" >料號:</label>
							<div class="col-lg-10">
								{{partUsage.id}}
							</div>																													
						</div>						
						<div class="form-group">
							<label class="col-lg-2 control-label">用量:</label>
							<div class="col-lg-4">
								<input type="number" class="form-control" v-model="usage">
							</div>																		
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" >更換週期:</label>
							<div class="col-lg-10">
								<div class="btn-group" data-toggle="buttons">
                        		<label class="btn btn-outline btn-primary"
                               		v-for="freq in freqTypeList" :for="freq.id" @@click="freqType=freq.id">
                            		<input type="radio" name="freqType">{{ freq.name }} &nbsp;</label>
                            	</div>                    			
							</div>																													
						</div>
						<div class="form-group" v-if="freqType=='Days'">
							<label class="col-lg-2 control-label">日保養(天):</label>
							<div class="col-lg-4">
								<input type="number" class="form-control" v-model="days">
							</div>																		
						</div>
					</form>
        		</div>
        		<div class="modal-footer">
        			<button class="btn btn-primary" data-dismiss="modal" @@click="updatePart">更新</button>
					<button id="cancelPart" class="btn btn-primary" data-dismiss="modal">取消</button>        							          							
        		</div>        						
      		</div>
    		</div>
  		</div>							
        	    		
			<div align="center">
				<br>
            	<table id="partTable" class="table" cellspacing="0" width="100%">
            		<thead>
            			<tr>
            				<th>料號</th>
            				<th>英文名稱</th>
            				<th>中文名稱</th>
            				<th>測站</th>
            				<th>基本用量</th>
            				<th>使用週期</th>
            				<th>更換日期</th>
            				<th>下次更換日期</th>
            				<th>預警</th>
            				<th>不更換理由</th>
            				<th>備註</th>
            			</tr>
            		</thead>
            		<tbody>
            			@for(p<-partUsageList){
            				<tr id="@p.id">
            					<th>@p.id</th>
            					<td>@partMap(p.getPartId).name</td>
            					<td>@partMap(p.getPartId).chineseName</td>
            					<td>@Monitor.map(Monitor.withName(p.monitor)).name</td>
            					<td>@p.usage</td>
            					<td>@p.getFreqDesc</td>
            					<td>@p.startDate.toString("YYYY-MM-dd")</td>
            					<td>@p.getNextReplaceDate.toString("YYYY-MM-dd")</td>
            					<td>@ModelHelper.formatOptBool(Some(p.alarm))</td>
            					<td>@ModelHelper.formatOptStr(p.nochange_reason)</td>
            					<td>@ModelHelper.formatOptStr(p.remark)</td>
            				</tr>
            			}
            		</tbody>
            	</table>          		
            </div>
       </div>
       </div>
	</div>
</div>
<script>
	var partModalCanHide = true;
	var oTable;
	
	var app = new Vue({
		  el: '#newPartModal',
		  data: {
		    monitorList_: [],
		    partList_:[],
		    partClass:{
			    id:"",
			    name:"",
			    chineseName:""				    
			    },
		    monitors:[],
		    startDate:"",
		    freqType:"",
		    freqTypeList_:[],
		    days:7,
		    usage:1,
		    alarm:true
		  },
		  computed:{
			  monitorList(){				  
				  if(this.monitorList_.length == 0){
					  axios.get("/MonitorList").then((resp)=>{
						  const ret = resp.data
						  this.monitorList_.splice(0, this.monitorList_.length)
						  for(let monitor of ret){
							  this.monitorList_.push(monitor)
						  }  
					  }).catch((err)=>{
						  alert(err)
					  })
				  }
				  return this.monitorList_;
			  },
			  partList(){				  
				  if(this.partList_.length == 0){
					  axios.get("/Part").then((resp)=>{
						  const ret = resp.data
						  for(let part of ret){
							  this.partList_.push(part)
						  }  
					  }).catch((err)=>{
						  alert(err)
					  })
				  }
				  return this.partList_;
			  },
			  freqTypeList(){				  
				  if(this.freqTypeList_.length == 0){
					  axios.get("/FreqType").then((resp)=>{
						  const ret = resp.data
						  this.freqTypeList_.splice(0, this.freqTypeList_.length)
						  for(let freqType of ret){
							  this.freqTypeList_.push(freqType)
						  }  
					  }).catch((err)=>{
						  alert(err)
					  })
				  }
				  return this.freqTypeList_;
			  }
		  },
		  methods:{
			  toggle(array, item){
				  let idx = array.indexOf(item) 
				  if(idx == -1)
					  array.push(item)
				  else{
					  array.splice(idx, 1) 
				  }
			  },
			  checkNewPartParam(){
				  partModalCanHide = false
				  if(this.partClass.id === ""){
					  alert("物料類別代碼是空的!")
					  return false
				  }

				  if(this.monitors.length == 0){
					  alert("未選擇測站!")
					  return false
				  }

				  if(this.freqType === ""){
					  alert("未設定週期!")
					  return false
				  }
				  
				  partModalCanHide = true
				  return true
			  },
			  newPart(){
				  if(!this.checkNewPartParam())
					  return;
				  	
				  let param = {}
				  param.partClassId = this.partClass.id
				  param.monitors=this.monitors
				  param.usage=this.usage
				  param.startDate=this.startDate
				  param.freqType=this.freqType
				  param.days=this.days
				  param.alarm=this.alarm
				  axios.put("/PartUsage", param).then((resp)=>{					  
					  if(resp.status != 200){
						  alert(resp.statusText)
					  } else{
						  const ret = resp.data
						  if(ret.ok){
							  alert("成功")
							  setTimeout(()=>{
								  loadPage('/PartUsage','維修保養','物料使用紀錄表')}, 200)							  
						  }
					  }
				  }).catch(err=>alert(err))			    
			  }
		  }
		});	

	var app2 = new Vue({
		  el: '#modifyPartModal',
		  data: {
			partUsage:{id:"temp"},  
		    monitorList_: [],
		    partList_:[],
		    partClass:{
			    id:"",
			    name:"",
			    chineseName:""				    
			    },
		    monitors:[],
		    startDate:"",
		    freqType:"",
		    freqTypeList_:[],
		    days:7,
		    usage:1,
		    alarm:true
		  },
		  computed:{
			  monitorList(){				  
				  if(this.monitorList_.length == 0){
					  axios.get("/MonitorList").then((resp)=>{
						  const ret = resp.data
						  this.monitorList_.splice(0, this.monitorList_.length)
						  for(let monitor of ret){
							  this.monitorList_.push(monitor)
						  }  
					  }).catch((err)=>{
						  alert(err)
					  })
				  }
				  return this.monitorList_;
			  },
			  partList(){				  
				  if(this.partList_.length == 0){
					  axios.get("/Part").then((resp)=>{
						  const ret = resp.data
						  for(let part of ret){
							  this.partList_.push(part)
						  }  
					  }).catch((err)=>{
						  alert(err)
					  })
				  }
				  return this.partList_;
			  },
			  freqTypeList(){				  
				  if(this.freqTypeList_.length == 0){
					  axios.get("/FreqType").then((resp)=>{
						  const ret = resp.data
						  this.freqTypeList_.splice(0, this.freqTypeList_.length)
						  for(let freqType of ret){
							  this.freqTypeList_.push(freqType)
						  }  
					  }).catch((err)=>{
						  alert(err)
					  })
				  }
				  return this.freqTypeList_;
			  }
		  },
		  methods:{
			  toggle(array, item){
				  let idx = array.indexOf(item) 
				  if(idx == -1)
					  array.push(item)
				  else{
					  array.splice(idx, 1) 
				  }
			  },
			  updatePart(){				  	
				  let param = {}
				  param.id = this.partUsage.id
				  param.usage=this.usage
				  param.freqType=this.freqType
				  param.days=this.days
				  axios.put("/UpdatePartUsage", param).then((resp)=>{					  
					  if(resp.status != 200){
						  alert(resp.statusText)
					  } else{
						  const ret = resp.data
						  if(ret.ok){
							  alert("成功")
							  setTimeout(()=>{
								  loadPage('/PartUsage','維修保養','物料使用紀錄表')}, 200)							  
						  }
					  }
				  }).catch(err=>alert(err))			    
			  }
		  }
		});		
</script>

<script>
var dataTableL10N = '@routes.Assets.at("localization/zh_tw.json")';
</script>
<script>
$(document).ready(function() {
        /* Init DataTables */
        
        oTable = $("#partTable").dataTable( {
			language: {
				url: dataTableL10N,							
			},
			paging:   true,
			info: true,
			searching: true,
			responsive: true
		} );

    	$('#partTable tbody').on('click', 'tr',
    			function() {
            		if ( $(this).hasClass('selected') ) {
                		$(this).removeClass('selected');
            		}
            		else {
            			oTable.$('tr.selected').removeClass('selected');
                		$(this).addClass('selected');
            		}
    			});
    		
    	$("#newPartModal").on('hide.bs.modal',function(e){		   
 		   if(!partModalCanHide){			   
 		      e.preventDefault();
 		   }
 		});
         
    	function equipChecker(obj, selector){
    		if(obj.length == 0){
    			$(selector).parent().parent().addClass("has-error");
    			return false;
    		}else{
    			$(selector).parent().parent().removeClass("has-error");
    			return true;
    		}		
    	}
    	    	
    	$("#cancelPart").click(function(event) {
    		partModalCanHide = true; 
    	});

    	$("#deletePart").click(function(event) {
    		var api = oTable.api();
    		if(api.rows('.selected').data().length == 0){
    			alert("請點擊選取要刪除的料件");
    		}else{
    			var $trs = api.rows('.selected').data();
    		    var values={};
    		    values['id']=$trs[0][0]; 
    				
    			$.ajax({
    				url : "/PartUsage/" + $trs[0][0],
    				data : JSON.stringify(values),
    				contentType : "application/json; charset=utf-8",
    				method : "DELETE",
    				dataType : "json",
    				success : function(result) {
    					alert("成功");
    					api.rows('.selected').remove().draw( false );
    				},
    				error : function(xhr,status,errorThrown) {
    					alert("失敗:"+ errorThrown);
    				},

    				complete : function(xhr, status) {
    				}
    			});				
    		}

    		event.preventDefault();
    	}); 

    	$("#modifyPart").click(function(event) {
    		var api = oTable.api();
    		if(api.rows('.selected').data().length == 0){
    			alert("請點擊選取要修改的料件");
    		}else{
    			var $trs = api.rows('.selected').data();
    			app2.partUsage.id=$trs[0][0];    			
    		    $('#modifyPartModal').modal();    				
    		}
    	});   	
});	
</script>