@* realtimeTrend Template File *@
@(param: Any)
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">即時趨勢圖</h1>
	</div>
</div>
<div class="row">
   	<div class="col-lg-12">
       	<div class="panel panel-primary" id="paramPanel">
           	<div class="panel-heading panel-title" >
           		<a data-toggle="collapse" href="#reportParam">查詢項目</a>	
               </div>
           	<div class="panel-body panel-collapse in" id="reportParam">
           		<h5>測站</h5>
           		<div class="btn-group" data-toggle="buttons">
           			@for(m<-Monitor.monitorList){
           				<label class="btn btn-default">
							<input type="checkbox" name="monitor" id="@m.id">@m.name</label>		
           			}
           		</div>
				<h5>監測項目</h5>
				<div class="btn-group" data-toggle="buttons">
				    @for(mt<-MonitorType.realtimeList){
           				<label class="btn btn-default">
							<input type="checkbox" name="monitorType" id="@MonitorType.map(mt).id">@MonitorType.map(mt).desp</label>		
           			}
				</div>
				<h5>圖形種類</h5>
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-default active">
						<input type="radio" name="chartType" id="1" checked>柱狀圖</label>
					<label class="btn btn-default">
						<input type="radio" name="chartType" id="2">折線圖</label>
					<label class="btn btn-default">
						<input type="radio" name="chartType" id="3">折線面積圖</label>
						
				</div>
				</br>
				</br>
				<div>
					<button type="button" class="btn btn-primary" id="queryReport">查詢</button>
				</div>
           	</div>
       	</div>
       	<div class="panel panel-success" style="display:none" id="reportPanel">
           	<div class="panel-heading panel-title"" >
           		<a data-toggle="collapse" href="#monitorReport">即時趨勢圖</a>	
               </div>
           	<div class="panel-body panel-collapse collapse" id="monitorReport">
				<div id="reportWell" align="center" style="overflow-x:auto">
					  <h3></h3>
				      <div id="reportDiv">
				      </div>      		
           		</div>
           	</div>
       	</div> <!-- end of panel group -->
	</div>
</div>
<script>
	$(document).ready(function() {
		$('#reportDate').datepicker({
			format : 'yyyy-mm-dd',
			todayBtn : "linked",
			language : "zh-TW"
		});

		var monitors, monitorTypes;

		function validate() {
			monitors = $("input[name='monitor']:checked");
			console.log('monitor len=' + monitors.length);

			monitorTypes = $("input[name='monitorType']:checked");
			console.log('mt len=' + monitorTypes.length);

			if (monitors.length == 0) {
				alert("請選擇測站");
				return false;
			}

			if (monitorTypes.length == 0) {
				alert("請選擇監測項目");
				return false;
			}

			if (monitors.length > 1 && monitorTypes.length > 1) {
				alert("測站數和側項數不能同時大於一");
				return false;
			}
			return true;
		}

		$('#queryReport').click(function() {
			if (!validate())
				return;

			$("#reportPanel").css('display', 'block');
			$("#reportParam").collapse();
			$("#monitorReport").collapse();

			var monitorParam = [];
			for (var i = 0; i < monitors.length; i++) {
				var obj = {};
				obj.id = monitors[i].id;
				monitorParam.push(obj);
			}

			var monitorTypeParam = [];
			for (var i = 0; i < monitorTypes.length; i++) {
				var obj = {};
				obj.id = monitorTypes[i].id
				monitorTypeParam.push(obj);
			}

			var obj = {
				'monitor' : monitorParam,
				'monitorType' : monitorTypeParam
			};

			$("body").css("cursor", "progress");

			$.ajax({
				url : "/JSON/realtimeTrend",
				data : JSON.stringify(obj),
				contentType : "application/json; charset=utf-8",
				type : "POST",
				dataType : "json",
				success : function(result) {
					$('#reportWell').find("h3").text(result.title);
					$('#reportDiv').html('');
					var monitorReport = $("#monitorReport");
					monitorReport.collapse('show');
					result.element = 'reportDiv';
					//result.resize=true;
					var chartType;
					chartType = $("input[name='chartType']:checked")
					console.log(chartType[0].id);
					if (chartType[0].id == 1) {
						Morris.Bar(result);
					} else if (chartType[0].id == 2) {
						result.parseTime = false;
						Morris.Line(result);
					} else {
						result.parseTime = false;
						Morris.Area(result)
					}
					monitorReport.collapse();
					monitorReport.collapse('show');
				},
				error : function(xhr, status, errorThrown) {
					console.log("錯誤訊息:" + status + "-" + errorThrown);
				},

				complete : function(xhr, status) {
					$("body").css("cursor", "default");
				}
			});
		});

	});
</script>