@* realtimeTrend Template File *@
@(privilege: Privilege, minChart:Boolean=false)
<div class="row">
   	<div class="col-lg-12">
       	<div class="panel panel-primary" id="paramPanel">
           	<div class="panel-heading panel-title" >
           		<a data-toggle="collapse" href="#reportParam">查詢參數</a>	
            </div>
           	<div class="panel-body panel-collapse in" id="reportParam">
           		<form class="form-horizontal">
	            		<div class="form-group">
	            			<label class="col-lg-1 control-label">測站</label>
	            			<div class="col-lg-11">
	            				<button id="select-all-monitors" class="btn btn-info" type="button">全選</button>
	            				<div class="btn-group" data-toggle="buttons">	            					            				
	            					@for(m<-Monitor.myMvList(privilege)){
	            						@if(m == Monitor.myMvList(privilege).head){
	            							<label class="btn btn-outline btn-primary dim active">
											<input type="checkbox" name="monitor" id="@m" checked>@Monitor.getDisplayName(m)</label>
	            						}else{
	            							<label class="btn btn-outline btn-primary dim">
											<input type="checkbox" name="monitor" id="@m">@Monitor.getDisplayName(m)</label>
	            						}
	            						
	            					}
	            				</div>
	            			</div>	            			            		
	                    </div>
	                    <div class="form-group">
	            			<label class="col-lg-1 control-label">測項</label>
	            			<div class="col-lg-11">
	            				<button id="select-all-monitorTypes" class="btn btn-info" type="button">全選</button>
	            				<div class="btn-group" data-toggle="buttons">	            				
	            				@for(mt<-MonitorType.myMtvList(privilege)){
	            					@if(mt == MonitorType.myMtvList(privilege).head){
	            						<label class="btn btn-outline btn-primary dim active">
										<input type="checkbox" name="monitorType" id="@mt" checked>@MonitorType.map(mt).desp</label>	
	            					}else{
	            						<label class="btn btn-outline btn-primary dim">
										<input type="checkbox" name="monitorType" id="@mt">@MonitorType.map(mt).desp</label>
	            					}	            					
	            				}
	            				</div>
	            			</div>	            			            		
	                    </div>
	                    <div class="form-group">
	            			<label class="col-lg-1 control-label">圖表類型</label>						
	            			<div class="col-lg-11 btn-group" data-toggle="buttons">
           						<label class="btn btn-outline btn-primary dim active">
									<input type="radio" name="chartType" id="line" checked>折線圖</label>
								<label class="btn btn-outline btn-primary dim">
									<input type="radio" name="chartType" id="spline">曲線圖</label>
								<label class="btn btn-outline btn-primary dim">
									<input type="radio" name="chartType" id="area">面積圖</label>	
								<label class="btn btn-outline btn-primary dim">
									<input type="radio" name="chartType" id="areaspline">曲線面積圖</label>		
								<label class="btn btn-outline btn-primary dim">
									<input type="radio" name="chartType" id="column">柱狀圖</label>

								<label class="btn btn-outline btn-primary dim">
									<input type="radio" name="chartType" id="scatter">點圖</label>			
	            			</div>            		
	                    </div>	                    
						<div class="form-group">
							<div class="col-lg-1 col-lg-offset-1">
								<button type="button" class="btn btn-primary" id="queryReport">查詢</button>
							</div>							
						</div>	                    	                    	                    
            		</form>           	
           	</div>
       	</div>
        	<div class="panel panel-success" style="display:none" id="reportPanel">
            	<div class="panel-body panel-collapse">
					<div id="reportDiv" style="width:99%">
            		</div>
            	</div>
        	</div>	
</div>
</div>
<script>
	var url_header;
	if(!@minChart)
		url_header = "/JSON/realtimeTrend/";
	else
		url_header = "/JSON/realtimeMinTrend/";
</script>
<script>
$( document ).ready(function() {
	$('#select-all-monitors').click(function(){
		$('.btn-group input[name="monitor"]').each(function(){
	            // toggle checkbox
	            $(this).prop('checked',!$(this).prop('checked'));
	            // toggle class
	            $(this).parents('label').toggleClass('active');
	        });
	});

	$('#select-all-monitorTypes').click(function(){
		$('.btn-group input[name="monitorType"]').each(function(){
	            // toggle checkbox
	            $(this).prop('checked',!$(this).prop('checked'));
	            // toggle class
	            $(this).parents('label').toggleClass('active');
	        });
	});
	
	$('#reportStart').datetimepicker({
		format: 'YYYY-MM-D HH:mm',
		defaultDate: moment().subtract(1, 'days'),
    	locale: "zh-TW"
	});
	$('#reportEnd').datetimepicker({
		format: 'YYYY-MM-D HH:mm',
		defaultDate: moment().subtract(1, 'hours'),
    	locale: "zh-TW"
	});
    $("#reportStart").on("dp.change", function (e) {
        $('#reportEnd').data("DateTimePicker").minDate(e.date);
    });
    
    $("#reportEnd").on("dp.change", function (e) {
        $('#reportStart').data("DateTimePicker").maxDate(e.date);
    });


	var monitors, monitorTypes, chartType;
	
	function validate(){
		monitors = $("input[name='monitor']:checked");
		monitorTypes = $("input[name='monitorType']:checked");		
		chartType = $("input[name='chartType']:checked").attr('id');
		 
		return true;
	}
	
	$('#queryReport').click(function(){
		if(!validate())
			return;
			
		$('#reportDiv').html('');
		$("body").css("cursor", "progress");

		var monitorParam='';
		for (var i = 0; i < monitors.length; i++) {
			if(monitorParam=='')
				monitorParam = monitors[i].id;
			else
				monitorParam += ':' + monitors[i].id;
		}	

		var monitorTypeParam='';
		for (var i = 0; i < monitorTypes.length; i++) {
			if(monitorTypeParam=='')
				monitorTypeParam = monitorTypes[i].id;
			else
				monitorTypeParam += ':' + monitorTypes[i].id;
		}	

		var url = url_header + monitorParam + "/" + monitorTypeParam;
		function pointFormatter(){
			var d = new Date(this.x);
			return d.toLocaleString() + ": " + Math.round(this.y) + "度";
		}
		$.ajax({
			url : url,
			data : "",
			contentType : "application/json; charset=utf-8",
			type : "GET",
			cache:false,
			dataType : "json",
			success : function(result) {
				$("#reportPanel").css('display','block');
						
				result.chart = {
					type: chartType,
					zoomType: 'x',
		            panning: true,
		            panKey: 'shift',
		            alignTicks: false,
		            height: chartHeight
				};
				result.colors=[
				'#7CB5EC','#434348','#90ED7D','#F7A35C','#8085E9','#F15C80',
				'#E4D354','#2B908F','#FB9FA8','#91E8E1','#7CB5EC','#80C535','#969696'];
				result.tooltip ={
	            	valueDecimals: 2};
	            result.legend={enabled:true};
				result.credits={
					enabled:false,
					href:'http://www.wecc.com.tw/'
				};
				result.xAxis.type = "datetime";
				result.xAxis.dateTimeLabelFormats = {
	                day: '%b%e日',
	                week: '%b%e日',
	            	month: '%y年%b',
	            };
	            
				result.plotOptions= {
					scatter:{
						tooltip:{
							pointFormatter: pointFormatter
						}
					}
				};
				
				$('#reportDiv').highcharts(result);
			},
			error : function(xhr, status, errorThrown) {
				console.log("錯誤訊息:" + status + "-" + errorThrown);
			},

			complete : function(xhr, status) {
				$("body").css("cursor", "default");
			}
		});
	});
});
</script>