@* realtimeStatus Template File *@
@import models.Realtime._
@import com.github.nscala_time.time.Imports._
@import MonitorStatus._
@(current:DateTime, rt_status: Map[Monitor.Value, Map[MonitorType.Value, (Option[Float], Option[String])]], psiList:List[MonitorType.Value], rt_psi: Map[Monitor.Value, (Option[Float], Map[MonitorType.Value, (Option[Float], Option[Float])])], privilege: Privilege)
<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
        	<div class="ibox-title">
            	<h5>@current.toString("YYYY-MM-dd HH:mm")</h5>
            </div>
<div class="ibox-content">
<ul class="nav nav-tabs">
<li class="active">
	<a data-toggle="tab" href="#reportDiv"> <span class="glyphicons glyphicons-hotspot"></span>空氣品質/氣象 即時數據</a>
</li>
<li>
	<a data-toggle="tab" href="#psiDiv"> <span class="glyphicons glyphicons-hotspot"></span>PSI即時數據</a>
</li>
</ul>
<div class="tab-content">
<div id="reportDiv" class="tab-pane active">            			            	
<table id="reportTable" class="table" cellspacing="0" width="100%">
	<thead>
		<tr>			  
			<th>測站</th>			
			@for(mt <- MonitorType.realtimeList.filter(privilege.allowedMonitorTypes.contains)){
				<th>@MonitorType.map(mt).desp</th>
			}
		</tr>
	</thead>
	<tfoot>
		<tr>			  
			<th>法規值</th>			
			@for(mt <- MonitorType.realtimeList.filter(privilege.allowedMonitorTypes.contains)){
				@if(MonitorType.map(mt).std_law.isDefined){
					<th style="color:@OverLawColor">@MonitorType.map(mt).std_law</th>	
				}else{
					<th style="color:@OverLawColor">-</th>
				}				
			}
		</tr>	
	</tfoot>	
	<tbody>
		@for(m <- privilege.allowedMonitors){
			<tr>
				<td>@Monitor.map(m).name</td> 
				
			@for(mt <- MonitorType.realtimeList.filter(privilege.allowedMonitorTypes.contains)){
				@if(rt_status(m)(mt)._1.isEmpty){
						@if(Monitor.map(m).monitorTypes.contains(mt)){
							<td>-</td>	
						}else{
							<td>N/A</td>
						}												
					}else{						
						<td style="@MonitorType.getStyleStr(m, mt, rt_status(m)(mt))" 
							@if(Monitor.map(m).getStdInternal(mt).isDefined){																
								title="內控值:@Monitor.map(m).getStdInternal(mt).get @MonitorType.map(mt).unit"
							}
							data-toggle="tooltip" data-container="body" data-trigger="hover"
						>@MonitorType.format(mt, (rt_status(m)(mt)._1))</td>
					}
			}
			
			</tr>
		}
	</tbody>
</table>
<div>
<table class="table">
<tbody>
<tr>
	<td class="col-lg-1" style="color:black"><strong>標示說明:</strong></td>
	<td class="col-lg-1" style="color:@OverInternalColor">超過內控值</td>
	<td class="col-lg-1" style="color:@OverLawColor">超過法規值</td>	
	<td class="col-lg-1" style="color:black;background-color:@CalibrationColor">校正</td>
	<td class="col-lg-1" style="color:black;background-color:@RepairColor">維修</td>
	<td class="col-lg-1" style="color:black;background-color:@MaintanceColor">定保</td>
	<td class="col-lg-1" style="color:black;background-color:@AbnormalColor">異常</td>
</tr>
</tbody>
</table>
</div> 
</div>
<div id="psiDiv" class="tab-pane" align="center">

<table id="psiTable" cellspacing="0" width="100%">
<thead>
	<tr>
		<td rowspan='2'>測站</td>
		<td rowspan='2'>PSI指標</td>
		@for(mtv<-psiList){
			<td colspan='2'>@MonitorType.map(mtv).desp</td>		
		}		
	</tr>
	<tr>
		@for(mtv<-psiList){
			<td>副指標</td>
			<td>數值(@MonitorType.map(mtv).unit)</td>	
		}
	</tr>
</thead>
<tbody>
	@for(m<-Monitor.mvList){
		<tr>
		@if(rt_psi(m)._1.isDefined){
			<td>@Monitor.map(m).name</td>
			@if(rt_psi(m)._1.isDefined){
				<td class="@getPsiLevel(rt_psi(m)._1.get)">@("%.0f".format(rt_psi(m)._1.get))</td>
			}else{
				<td>-</td>			
			}
			
			@for(mtv<-psiList){
				@if(rt_psi(m)._2(mtv)._2.isDefined){
					@if(rt_psi(m)._2(mtv)._2.get == rt_psi(m)._1.get){
						<td><strong>@("%.0f".format(rt_psi(m)._2(mtv)._2.get))</strong></td>	
					}else{
						<td>@("%.0f".format(rt_psi(m)._2(mtv)._2.get))</td>
					}						
				}else{
					<td>-</td>
				}

				<td>@MonitorType.format(mtv, rt_psi(m)._2(mtv)._1)</td>	
			}
		}else{
			<td>@Monitor.map(m).name</td>
			<td>-</td>
			@for(mtv<-psiList){
				<td>-</td>
				<td>-</td>
			}
		}
		</tr>	
	}
	
</tbody>
</table>
<br/>
<table border="1" class="DIV_CENTER ALT_TABLE_EVENT">
	<tbody><tr class="ALT">
		<th>空氣污染指標(PSI)</th>
		<th nowrap="">0～50</th>
		<th>51～100</th>
		<th>101～199</th>
		<th>200～299</th>
		<th>&gt;=300</th>
	</tr>
	<tr>
		<th rowspan="2" nowrap="">對健康的影響</th>
		<td><p align="center">良好</p></td>
		<td><p align="center">普通</p></td>
		<td><p align="center">不良</p></td>
		<td><p align="center">非常不良</p></td>
		<td><p align="center">有害</p></td>
	</tr>
	<tr class="ALT">
		<td><p align="center">Good</p></td>
		<td><p align="center">Moderate </p></td>
		<td><p align="center">Unhealthful </p></td>
		<td><p align="center">Very Unhealthful </p></td>
		<td><p align="center">Hazardous</p></td>
	</tr>
	<tr>
		<th>狀態色塊</th>
		<td class="PSI1">&nbsp;</td>
		<td class="PSI2">&nbsp;</td>
		<td class="PSI3">&nbsp;</td>
		<td class="PSI4">&nbsp;</td>
		<td class="PSI5">&nbsp;</td>
	</tr>
	<tr class="ALT">
		<th>人體健康影響</th>
		<td>對一般民眾身體健康無影響。</td>
		<td>對敏感族群健康無立即影響。</td>
		<td>對敏感族群會有輕微症狀惡化的現象，如臭氧濃度在此範圍，眼鼻會略有刺激感。</td>
		<td>對敏感族群會有明顯惡化的現象，降低其運動能力；一般大眾則視身體狀況，可能產生各種不同的症狀。</td>
		<td>對敏感族群除了 不適症狀顯著惡化並造成某些疾病提早開始；減低正常人的運動能力。</td>
	</tr>
	</tbody></table>
</div>
</div>
</div>
</div>
                       
</div>
</div>
<script>
$( document ).ready(function() {
	$('[data-toggle="tooltip"]').tooltip();
	
	$('#reportTable').dataTable( {
		responsive: true,
		"dom": 'T&lt'+'clear'+'&gtlfrtip',
		language: {
			url: '@routes.Assets.at("localization/zh_tw.json")',							
		},
		"tableTools": {
        	"sSwfPath": "@routes.Assets.at("js/plugins/dataTables/swf/copy_csv_xls_pdf.swf")",
        	"aButtons": ["copy", "print", "csv", "xls"]
        },
		paging:   false,
		searching: false,
		info: false
	    } );
	
	$('#psiTable').dataTable( {
		responsive: true,
		"dom": 'T&lt'+'clear'+'&gtlfrtip',
		"tableTools": {
            "aButtons": [ "copy", "print" ]
        },
		language: {
			url: '@routes.Assets.at("localization/zh_tw.json")',							
		},
		"tableTools": {
        	"sSwfPath": "@routes.Assets.at("js/plugins/dataTables/swf/copy_csv_xls_pdf.swf")",
        	"aButtons": ["copy", "print", "csv", "xls"]
        },

		"paging":   false,
		"searching": false
	    } );
});
</script>

