@* realtimeImage Template File *@
@(privilege: Privilege)
<div class="row">
   	<div class="col-lg-12">
    		<div class="panel-group" id="accordion">
        	<div class="panel panel-primary" id="paramPanel">
            	<div class="panel-heading panel-title" >
            		<a data-toggle="collapse" data-parent="#accordion" href="#reportParam">選擇測站</a>	
                </div>
            	<div class="panel-body panel-collapse in" id="reportParam">
            		<img alt="image" class="img-circle" src='@routes.Assets.at("images/cctv.png")' />
            		<h5>測站</h5>
            		<div class="btn-group" data-toggle="buttons">
            			@for(m<-privilege.allowedMonitors){
            				@if(!Monitor.map(m).url.isEmpty){
            					<label class="btn btn-outline btn-primary dim" id="@m");">
									<input type="radio" name="monitor" id="@m" >@Monitor.map(m).name</label>
							}		
            			}
            		</div>
             	</div>
        	</div>
        	<div class="panel panel-success" id="reportPanel">
            	<div class="panel-heading panel-title"" >
            		<a data-toggle="collapse" data-parent="#accordion" href="#monitorReport">測站影像</a>	
                </div>
                <div id="realtimeImage" align='center'></div>
        	</div> <!-- end of panel group -->
    	</div>
	</div>
</div>
<script>
$( document ).ready(function() {
	//onClick="$('#realtimeImage').html('<iframe></iframe>'
	@for(m<-privilege.allowedMonitors){
		$('#@m').click(function( event ) {
    		$('#realtimeImage').html("<iframe height='768px' width='1024px' src='@Monitor.map(m).url'></iframe>");
    	});
    }

});
</script>

