@* h37Report Template File *@
@import com.github.nscala_time.time.Imports._
@import InstrumentThreshold._
@(monitor:Monitor.Value, start:DateTime, end:DateTime, rsList: List[T300Record])
<H3>測站:@Monitor.map(monitor).name</H3>
<H5>儀器:T300</H5>
<H5>開始:@start.toString("YYYY-MM-dd")</H5>
<H5>結束:@end.toString("YYYY-MM-dd")</H5>
<span style="color:red">超過內控值</span>
<table id="reportTable" class="table">
<thead>
	<tr>		
		<th>時間</th>
      	<th>RANGE (PPM)</th>
      	<th>STABIL (PPM)</th>
      	<th>CO MEAS (MV)</th>
      	<th>CO REF (MV)</th>
      	<th>MR RATIO</th>
      	<th>PRES (IN_HG_A)</th>
      	<th>SAMP FL (CC/M)</th>
      	<th>SAMPLE TEMP (C)</th>
      	<th>BENCH TEMP (C)</th>
      	<th>WHEEL TEMP (C)</th>
      	<th>BOX TEMP (C)</th>
      	<th>PHT DRIVE (MV)</th>
      	<th>SLOPE</th>
      	<th>OFFSET</th>      	
	</tr>
</thead>
<tbody>
	@for(rs<-rsList){
		<tr>
			<td>@rs.time.toString("YYYY-MM-dd HH:mm")</td>
			<td style="@getStyle(T300_RANGE, rs.range)">@("%.0f".format(rs.range))</td>
			<td style="@getStyle(T300_STABIL, rs.stabil)">@("%.3f".format(rs.stabil))</td>
			<td style="@getStyle(T300_CO_MEAS, rs.co_meas)">@("%.1f".format(rs.co_meas))</td>
			<td style="@getStyle(T300_CO_REF, rs.co_ref)">@("%.1f".format(rs.co_ref))</td>
			<td style="@getStyle(T300_MR_RATIO, rs.mr_ratio)">@("%.3f".format(rs.mr_ratio))</td>
			<td style="@getStyle(T300_PRES, rs.pres)">@("%.1f".format(rs.pres))</td>
			<td style="@getStyle(T300_SAMP_FL, rs.samp_fl)">@("%.0f".format(rs.samp_fl))</td>
			<td style="@getStyle(T300_SAMPLE_TEMP, rs.sample_temp)">@("%.1f".format(rs.sample_temp))</td>
			<td style="@getStyle(T300_BENCH_TEMP, rs.bench_temp)">@("%.1f".format(rs.bench_temp))</td>
			<td style="@getStyle(T300_WHEEL_TEMP, rs.wheel_temp)">@("%.1f".format(rs.wheel_temp))</td>
           	<td style="@getStyle(T300_BOX_TEMP, rs.box_temp)">@("%.1f".format(rs.box_temp))</td>
           	<td style="@getStyle(T300_PHT_DRIVE, rs.pht_drive)">@("%.0f".format(rs.pht_drive))</td>
           	<td style="@getStyle(T300_SLOPE, rs.slope)">@("%.3f".format(rs.slope))</td>
           	<td style="@getStyle(T300_OFFSET, rs.offset)">@("%.3f".format(rs.offset))</td>
		</tr>
	}
</tbody>
</table>
<script>
$(document ).ready(function() {

});
</script>