@* h37Report Template File *@
@import com.github.nscala_time.time.Imports._
@import InstrumentThreshold._
@(monitor:Monitor.Value, start:DateTime, end:DateTime, rsList: List[T400Record])
<H3>測站:@Monitor.map(monitor).name</H3>
<H5>儀器:T400</H5>
<H5>開始:@start.toString("YYYY-MM-dd")</H5>
<H5>結束:@end.toString("YYYY-MM-dd")</H5>
<span style="color:red">超過內控值</span>
<table id="reportTable" class="table">
<thead>
	<tr>		
		<th>時間</th>
      	<th>RANGE (PPB)</th>
      	<th>STABIL (PPB)</th>
	    <th>O3 MEAS (MV)</th>
      	<th>O3 REF (MV)</th>
      	<th>PRES (IN-HG-A)</th>
      	<th>SAMP FL (CC/M)</th>
      	<th>SAMPLE TEMP (C)</th>
      	<th>PHOTO LAMP (C)</th>
      	<th>BOX TEMP (C)</th>
      	<th>SLOPE</th>
      	<th>OFFSET (PPB)</th>            	
	</tr>
</thead>
<tbody>
	@for(rs<-rsList){
		<tr>
			<td>@rs.time.toString("YYYY-MM-dd HH:mm")</td>
			<td style="@getStyle(T400_RANGE, rs.range)">@("%.0f".format(rs.range))</td>
			<td style="@getStyle(T400_STABIL, rs.stabil)">@("%.1f".format(rs.stabil))</td>
			<td style="@getStyle(T400_O3_MEAS, rs.o3_meas)">@("%.1f".format(rs.o3_meas))</td>
			<td style="@getStyle(T400_O3_REF, rs.o3_ref)">@("%.0f".format(rs.o3_ref))</td>
			<td style="@getStyle(T400_PRES, rs.pres)">@("%.1f".format(rs.pres))</td>			
			<td style="@getStyle(T400_SAMP_FL, rs.samp_fl)">@("%.0f".format(rs.samp_fl))</td>
			<td style="@getStyle(T400_SAMPLE_TEMP, rs.sample_temp)">@("%.1f".format(rs.sample_temp))</td>
			<td style="@getStyle(T400_PHOTO_LAMP, rs.photo_lamp)">@("%.0f".format(rs.photo_lamp))</td>			
           	<td style="@getStyle(T400_BOX_TEMP, rs.box_temp)">@("%.1f".format(rs.box_temp))</td>           	
           	<td style="@getStyle(T400_SLOPE, rs.slope)">@("%.3f".format(rs.slope))</td>
           	<td style="@getStyle(T400_OFFSET, rs.offset)">@("%.1f".format(rs.offset))</td>
		</tr>
	}
</tbody>
</table>
<script>
$(document ).ready(function() {
});
</script>