@* ticketReport Template File *@
@(tickets: List[Ticket], userMap:Map[Int, User], showSelect:Boolean=false)
<table id="ticketReport" class="table">
<thead>
	<tr>
	@if(showSelect){
		<th>選擇</th>		
	}
		<th>ID</th>
		<th>建立時間</th>
		<th>建立人</th>
		<th>種類</th>		
		<th>測站</th>
		<th>測項</th>
		<th>維修原因</th>
		<th>負責人</th>
		<th>執行日期</th>
		<th>已結案</th>
		<th>下載表單</th>
	</tr>
</thead>
<tbody>
@for(t <- tickets){
	<tr>
	@if(showSelect){
		<td><input type="checkbox" value="@t.id"></td>		
	}	
		<td><a href="#" onClick="loadPage('/Ticket/'+'@t.id','維修保養','案件細節')">@t.id</a></td>
		<td>@t.submit_date.toString("YYYY-MM-d HH:mm")</td>
		<td>@userMap(t.submiter_id).name</td>
		<td>@TicketType.map(t.ticketType)</td>
		<td>@Monitor.map(t.monitor).name</td>
		@if(t.monitorType.isEmpty){
			<td>-</td>
		}else{
			<td>@MonitorType.map(t.monitorType.get).desp</td>
		}
		<td>@t.reason</td>
		<td>@userMap(t.owner_id).name</td>
		<td>@t.executeDate.toString("YYYY-MM-d")</td>
		@if(t.active){
			<td>否</td>
		}else{
			<td>是</td>
		}
		<td><a href="/DownloadForm/@t.id"><i class="fa fa-file-excel-o fa-2x"></i></td>
	</tr>
}
</tbody>
</table>
<script>
$(document ).ready(function() {
	$('#ticketReport').dataTable( {
		responsive: true,
		language: {
			url: '@routes.Assets.at("localization/zh_tw.json")',							
		},
		paging: false
	} );
});
</script>
