@* trendReport Template File *@
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">歷史趨勢圖</h1>
	</div>
</div>
<div class="row">
   	<div class="col-lg-12">
    		<div class="panel-group" id="accordion">
        	<div class="panel panel-primary" id="paramPanel">
            	<div class="panel-heading panel-title" >
            		<a data-toggle="collapse" data-parent="#accordion" href="#reportParam">趨勢參數</a>	
                </div>
            	<div class="panel-body panel-collapse in" id="reportParam">
            		<h5>測站</h5>
            		<div class="btn-group" data-toggle="buttons">
            			@for(m<-Monitor.values.toList){
            				<label class="btn btn-default">
								<input type="checkbox" name="monitor" id="@m">@Monitor.getDisplayName(m)</label>		
            			}
            		</div>
					<h5>監測項目</h5>
					<div class="btn-group" data-toggle="buttons">
					    @for(mt<-MonitorType.values.toList){
            				<label class="btn btn-default">
								<input type="checkbox" name="monitorType" id="@mt">@MonitorType.map(mt)</label>		
            			}
  
					</div>
					<h5>查詢區間</h5>
					<form class="form-inline" role="form">
					<div class="col-lg-2 input-group date">
  						<input type="text" class="form-control" id="startDate" required>
  							<span class="input-group-addon">
  								<i class="glyphicon glyphicon-th"></i>
  							</span>
					</div>
					<div class="col-lg-2 input-group date">
  						<input type="text" class="form-control" id="endDate" required>
  							<span class="input-group-addon">
  								<i class="glyphicon glyphicon-th"></i>
  							</span>
					</div>
					</form>
					</br>
					<div>
						<button type="button" class="btn btn-primary" id="queryReport">查詢</button>
					</div>
            	</div>
        	</div>
        	<div class="panel panel-success" style="display:none" id="reportPanel">
            	<div class="panel-heading panel-title"" >
            		<a data-toggle="collapse" data-parent="#accordion" href="#monitorReport">歷史趨勢圖</a>	
                </div>
            	<div class="panel-body panel-collapse" id="monitorReport">
					<div id="reportDiv" align="center" style="overflow-x:auto">
					            		
            		</div>
            	</div>
        	</div> <!-- end of panel group -->
    	</div>
	</div>
<script>
$( document ).ready(function() {
	$('#reportDate').datepicker({
		format: 'yyyy-mm-dd',
	    todayBtn: "linked",
	    language: "zh-TW"
	});

	var monitor, monitorType, reportDate;
	
	function validate(){
		monitor = $("input[name='monitor']:checked");
		if (monitor.length=0) {
			alert('請選擇測站');
			return false;
		}
		
		monitorType = $("input[name='monitorType']:checked").attr('id');
		if (!reportType) {
			alert('請選擇報表種類');
			return false;
		}
		reportDate = $('#reportDate').val();
		if(reportDate.length === 0){
			alert('請選擇報表日期');
			return false;
		}
		
		return true;
	}
	
	$('#queryReport').click(function(){
		if(!validate())
			return;

		$("#reportPanel").css('display','block');
		$("#reportParam").collapse();
		$("#reportPanel").collapse('show');

		var obj = {
			'monitor':monitor,
			'reportType':reportType,
			'startTime':reportDate
		};

		$('#reportDiv').html('');
		$("body").css("cursor", "progress");
		console.log(JSON.stringify(obj));
		
		$.ajax({
			url: "/monitorReport",
			data: JSON.stringify(obj),
			contentType: "application/json; charset=utf-8",
			type: "POST",
			dataType: "html",
			success: function(result){
				console.log(result);
				$('#reportDiv').html(result);

				$('#reportTable').dataTable( {
					language: {
						url: '@routes.Assets.at("localization/zh_tw.json")'
					},
					"paging":   false
	    		} );
	    		
	    		$("#downloadPDF").css('display','initial');
			},
			error: function(xhr, status, errorThrown){
				console.log("錯誤訊息:" + status + "-" + errorThrown);
			},

			complete: function(xhr, status){
				$("body").css("cursor", "default");
			}					
		});
	});
});
</script>


