@* yearlyReport Template File *@
@import com.github.nscala_time.time.Imports._
@import Report._
@(monitor: String, reportDate:DateTime, report:IntervalReport)
<h3>監測年報表</h3>
<h4>監測站:@monitor</h4>
<h4>日期:@reportDate.toString("yyyy年")</h4>
<div class="col-lg-offset-10 col-lg-2">
<table class="table">
<tbody>
<tr>
	<td class="col-lg-1" style="color:black"><strong>標示說明:</strong></td>
	<td class="col-lg-1" style="color:black;background-color:red">無效數據</td>
</tr>
</tbody>
</table>
</div>
<table id="reportTable" class="table" cellspacing="0" width="100%">
	<thead>
		<tr>
			<th>月</th>
			@for(t<-report.typeArray){
				<td>@MonitorType.map(t.monitorType).desp</td>
			}
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td>平均</td>
			@for(t<-report.typeArray){
				@if(t.stat.count==0){
					<td>-</td>
				}else{
					<td>@MonitorType.format(t.monitorType, Some(t.stat.avg))</td>
				}
			}
		</tr>
		<tr>
			<td>最大</td>
			@for(t<-report.typeArray){
				@if(t.stat.count==0){
					<td>-</td>
				}else{
				<td>@MonitorType.format(t.monitorType, Some(t.stat.max))</td>
				}
			}
		</tr>
		<tr>
			<td>最小</td>
			@for(t<-report.typeArray){
				@if(t.stat.count==0){
					<td>-</td>
				}else{
				<td>@MonitorType.format(t.monitorType, Some(t.stat.min))</td>
				}
			}
		</tr>
		<tr>
			<td>有效率(%)</td>
			@for(t<-report.typeArray){
				<td>@("%.0f".format(t.stat.count.toFloat/t.stat.total*100))</td>
			}
		</tr>
	</tfoot>
	<tbody>
		@for(i<-0 to 11){
			<tr>
			<th>@(i+1)</th>
			@for(t<-report.typeArray){
				@if(t.dataList(i).count != 0){
					@if(t.dataList(i).effectPercent >= 0.75){
						<td>@MonitorType.format(t.monitorType, Some(t.dataList(i).avg))</td>
					}else{
						<td style="color:black;background-color:red">@MonitorType.format(t.monitorType, Some(t.dataList(i).avg))</td>
					}					
				}else{
					<td>-</td>
				}						
			}
			</tr>
		}
	</tbody>
</table>            		